# CARZ4 WEBSCRAPING

# Importing the necessary Libraries

In [33]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import re
import warnings
warnings.filterwarnings("ignore")

# Website Link

In [2]:
url = "https://www.carz4sale.in/used/buy/"

In [4]:
response=requests.get(url)

In [5]:
response.status_code

200

In [7]:
html_code=response.text

In [8]:
html_code[:2000]

'<!DOCTYPE html>\n<html lang="en" itemscope itemtype="https://schema.org/WebPage">\n<head>\n<meta charset="utf-8">\n<link rel="shortcut icon" href="/favicon-192x192.png">\n<meta name="viewport" content="width=device-width, initial-scale=1">\n<link rel="manifest" href="/manifest.json">\n<link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png">\n<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">\n<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">\n<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">\n<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">\n<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">\n<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">\n<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">\n<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">\n<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">\n<link rel="apple-touch-icon" sizes="192x192" href="/favicon-192x192.png">\n<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">\n<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">\n<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">\n<meta name="apple-mobile-web-app-capable" content="yes">\n<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">\n<meta name="apple-mobile-web-app-title" content="Carz4Sale">\n<meta name="application-name" content="Carz4Sale">\n<meta name="mobile-web-app-capable" content="yes">\n<meta name="msapplication-TileColor" content="#0B3A72">\n<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">\n<meta name="theme-color" content="#0B3A72">\n<title>9,626 Used cars in India. Buy from Owners and Dealers - Carz4Sale</title>\n<meta property="og:title" itemprop="name" content="9,626 Used cars in India. Buy from Owners and Dealers" />\n<meta p'

In [9]:
soup=BeautifulSoup(html_code)

In [10]:
soup.text[:2000]

'\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n9,626 Used cars in India. Buy from Owners and Dealers - Carz4Sale\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nSelling cars since 2009\n\n\n\nSelect State \n\n\n\n\n\n Login \n\nLogin\nSign Up\n\n\n\n\n\n\n\nSelect State \n\n Login \n\nLogin\nSign Up\n\n\n\n\n\n\nSell Car Online\nBuy Used Car\nUsed Car Dealer Plan\nUsed Car Dealers\nBuy New Car\nNew Car Dealers\n\n\n\n\n\n\n\n\n\n\nSell Car\nBuy Used Car\nDealer Plan\nNew Cars\n\n\n\n\n\n\n\n\n\n\nSell Car Online\nBuy Used Car\nUsed Car Dealer Plan\nUsed Car Dealers\nBuy New Car\nNew Car Dealers\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\nBuy second hand cars in India\n\n\nHome\n ››\n      \n\nUsed Cars\n ››\n      \n\nBuy\n\n\n\n\nBuy secondhand cars from Carz4Sale, a dedicated marketplace for trading cars started in 2009. Select your desired car, contact the owner directly, inpsect the car and purchase after verifying all documents. 9,626 Used cars for sale in India\n\n\n\n\nSelect Location\n\nState:\n\nAll States\n\n\nCity:\n\nAll Cities\n\n\n\n\nSelect Car\n\nBrand:\n\nAll Brands\n\n\nModel:\n All Models\n\n\n All Versions\n\n\n\n\nSelect Price Range\n\n\nSort By Price\nPrice : Low to High\nPrice : High to Low\n\n\nRs. 20,000 - Rs. 80,000\nRs. 80,000 - Rs. 1.5 Lakh\nRs. 1.5 - 2.5 Lakh\nRs. 2.5 - 4 Lakh\nRs. 4 - 8 Lakh\nAbove Rs. 8 Lakhs\n\n\n\n\nSelect Engine Capacity\n\n\n100cc - 110cc Cars\n125cc - 135cc Cars\n150cc - 160cc Cars\n180cc - 200cc Cars\n220cc - 250cc Cars\n300cc - 350cc Cars\nAbove 400cc Cars\n\n\n\n\nChoose Seller Type\n\nIndividual\nUsed Car Dealers\nBoth\n\n\n\nYear of Manufacture\n\n\nUp to 1 Year Old\n1 to 3 Years Old\n3 to 5 Years Old\n5 to 8 Years Old\n8 Years or Older\n\n\n\n\n\n\n\n\n\n\n\nFeatured Listings. Urgent Selling !\n\n\n\n\n          Maruti Suzuki Dzire Zxi, 2018 ModelLocation: Electronic City, Bangalore, KarnatakaRs. 5,75,000\nView More Details\n\n\n\n\n\n\n          Maruti Suzuki Ciaz VDI+ SHVS, 2015 ModelLocation: Hyderabad, TelanganaRs. 4,75,000\nView More Details\n\n\n\n\n\n\n          Honda Brio S mt, 2012 ModelLocation: Pune, MaharashtraRs. 1,65,000\nView More Details\n\n\n\n\n\n\n          Honda City VMT, 2016 ModelLocation: Noida, Uttar PradeshRs. 5,50,000\nView More Details\n\n\n\n\n\n\n       '

## Extracting the data from the single container

In [11]:
container=soup.find('div',attrs={"class":"txtBox"})
container.text

'\n          Maruti Suzuki Dzire Zxi, 2018 ModelLocation: Electronic City, Bangalore, KarnatakaRs. 5,75,000\nView More Details\n'

# Extracting the data from the single page

In [14]:
container=soup.find_all('div',attrs={"class":"boxRow"})
for c in container:
    print(c.text.strip())

Maruti Suzuki Dzire Zxi, 2018 ModelLocation: Electronic City, Bangalore, KarnatakaRs. 5,75,000
View More Details
Maruti Suzuki Ciaz VDI+ SHVS, 2015 ModelLocation: Hyderabad, TelanganaRs. 4,75,000
View More Details
Honda Brio S mt, 2012 ModelLocation: Pune, MaharashtraRs. 1,65,000
View More Details
Honda City VMT, 2016 ModelLocation: Noida, Uttar PradeshRs. 5,50,000
View More Details
Isuzu D-Max S-Cab S cab z, 2024 ModelLocation: Sarbhog, Barpeta, AssamRs. 15,00,000
View More Details
Maruti Suzuki S-Cross ZETA 1.5, 2020 ModelLocation: Bandlaguda, Hyderabad, Telangana
View More Details
Kia Carens g1.5 6MT prestige o 7, 2024 ModelLocation: Sendurai, Ariyalur, Tamil NaduRs. 11,50,000
View More Details
Mercedes-Benz GLE, 2020 ModelLocation: Varanasi, Uttar PradeshRs. 50,00,000
View More Details
Kia Sonet HTX 1.0 TURBO 7DCT, 2024 ModelLocation: Hyderabad, TelanganaRs. 11,50,000
View More Details
Maruti Suzuki Baleno Delta 1.2, 2019 ModelLocation: Dombivli, Thane, MaharashtraRs. 5,50,000
View More Details
Renault Kwid Petrol, 2019 ModelLocation: Thrissur, KeralaRs. 3,25,000
View More Details
Tata Hexa XTA, 2019 ModelLocation: Daman, Valsad, GujaratRs. 7,50,000
View More Details
Hyundai Alcazar Signature dct, 2024 ModelLocation: Gurdaspur, PunjabRs. 17,00,000
View More Details
Tata Nexon XZ, 2019 ModelLocation: Nagpur, MaharashtraRs. 6,50,000
View More Details
Hyundai Creta SX (O), 2023 ModelLocation: Ayodhya, Uttar PradeshRs. 16,00,000
View More Details
Kia Seltos X-Line, 2022 ModelLocation: Andheri East, Mumbai, MaharashtraRs. 14,20,000
View More Details
Maruti Suzuki Swift VXI optional AMT, 2025 ModelLocation: Vasai-Virar, Palghar, MaharashtraRs. 7,80,000
View More Details
Ford Freestyle Titanium Petrol, 2018 ModelLocation: Hebbal, Bangalore, KarnatakaRs. 4,95,000
View More Details
Hyundai Verna Petrol, 2018 ModelLocation: New Delhi, DelhiRs. 5,25,000
View More Details
Mercedes-Benz A-Class LIMOUSINE AMG 35 4 MATIC, 2021 ModelLocation: HSR Layout, Bangalore, Karnataka
View More Details
Hyundai Creta Top Variant (Manual), 2023 ModelLocation: Hisar, HaryanaRs. 16,00,000
View More Details
Mercedes-Benz GLA 200 CDI style, 2014 ModelLocation: T. Nagar, Chennai, Tamil NaduRs. 14,00,000
View More Details
Tata Curvv Curvv pure+TCA DCA, 2025 ModelLocation: Andheri West, Mumbai, MaharashtraRs. 11,50,000
View More Details
Hyundai Elite i20 1.2 Asta, 2015 ModelLocation: Etah, Uttar PradeshRs. 3,65,000
View More Details
Maruti Suzuki Swift ZXI AMT, 2022 ModelLocation: Hyderabad, TelanganaRs. 7,75,000
View More Details
Hyundai Verna 1.4 diesel ex, 2019 ModelLocation: HSR Layout, Bangalore, KarnatakaRs. 8,00,000
View More Details
Jeep Compass S Petrol AT, 2021 ModelLocation: Noida, Uttar PradeshRs. 15,00,000
View More Details
Honda Jazz Top Model, 2013 ModelLocation: Vadodara, GujaratRs. 1,99,000

 2 Months Warranty  1 Free Service  Finance Available  Ownership & Insurance Transfer


View More Details
Datsun Redi-GO Hatch back, 2018 ModelLocation: Bangalore, KarnatakaRs. 1,60,000
View More Details
Ford Figo Titanium, 2010 ModelLocation: Ghaziabad, Uttar PradeshRs. 1,50,000
View More Details
Toyota Urban Cruiser Hyryder Model V AT Hybrid, 2024 ModelLocation: Whitefield, Bangalore, KarnatakaRs. 19,00,000
View More Details
BMW 5-Series 525, 2008 ModelLocation: Bangalore, KarnatakaRs. 5,47,000
View More Details
Ford Figo Zxi Diesel, 2013 ModelLocation: Sholinganallur, Chennai, Tamil NaduRs. 1,99,000
View More Details
Audi Q3 Petrol, 2018 ModelLocation: Bannerghatta Road, Bangalore, KarnatakaRs. 25,00,000
View More Details
Toyota Fortuner 2.8L 2WD MT DSL, 2021 ModelLocation: New Delhi, DelhiRs. 26,50,000
View More Details
Tata Tiago XT LR EV, 2025 ModelLocation: Rajapalayam, Virudhunagar, Tamil NaduRs. 6,50,000
View More Details
Honda Civic 1.8S, 2007 ModelLocation: Whitefield, Bangalore, KarnatakaRs. 2,50,000
View More Details
Honda WR-V VX MT IVTEC, 2017 ModelLocation: Hyderabad, TelanganaRs. 5,75,000
View More Details
Mahindra  Scorpio N, 2022 ModelLocation: Shahdol, Madhya PradeshRs. 21,00,000
View More Details
Maruti Suzuki Dzire ZDI, 2013 ModelLocation: Kolhapur, MaharashtraRs. 4,15,000
View More Details
Honda City 4th Generation V MT Petrol, 2021 ModelLocation: Sholinganallur, Chennai, Tamil NaduRs. 8,35,000
View More Details
Honda Civic VX, 2020 ModelLocation: Dehradun, UtarakhandRs. 11,50,000
View More Details
Maruti Suzuki Ritz Vxi, 2011 ModelLocation: Tiruchirappalli, Tamil NaduRs. 2,30,000
View More Details
Maruti Suzuki Celerio Automatic, 2016 ModelLocation: Yelahanka, Bangalore, KarnatakaRs. 4,30,000
View More Details
Kia Carens Prestige, 2023 ModelLocation: Meerut, Uttar PradeshRs. 10,20,000
View More Details
Chevrolet Beat PS Diesel, 2011 ModelLocation: Nagaur, RajasthanRs. 2,50,000
View More Details
Tata Nexon xz+ dual tone, 2018 ModelLocation: Amritsar, PunjabRs. 6,20,000
View More Details
Renault Kiger AMT, 2021 ModelLocation: Bangalore, KarnatakaRs. 6,00,000
View More Details
Kia Carens CARENS D1.5 IMT MDRIVE7, 2023 ModelLocation: Solapur, MaharashtraRs. 11,50,000
View More Details
Mahindra XUV 500 W6, 2017 ModelLocation: Bellandur, Bangalore, KarnatakaRs. 7,85,000
View More Details
Volkswagen Taigun TSI, 2024 ModelLocation: Gurgaon, HaryanaRs. 12,00,000
View More Details
Kia Seltos HTX, 2019 ModelLocation: Gurgaon, HaryanaRs. 7,90,000
View More Details
Ford Ecosport 1.5 TDI Diesel Ambiente, 2019 ModelLocation: Gurgaon, HaryanaRs. 4,75,000
View More Details
Ford Fiesta Diesel, 2009 ModelLocation: Bangalore, KarnatakaRs. 2,15,000
View More Details
Renault Kwid Rxt, 2016 ModelLocation: Gorakhpur, Uttar PradeshRs. 1,80,000
View More Details
Maruti Suzuki Vitara Brezza ZDI, 2017 ModelLocation: Aluva, Ernakulam, KeralaRs. 7,00,000
View More Details
MG Hector Hector PE 1.5 DCT Sharp, 2019 ModelLocation: Sirsi, North Kannada, KarnatakaRs. 10,50,000
View More Details
Maruti Suzuki Swift tour S, 2024 ModelLocation: Whitefield, Bangalore, KarnatakaRs. 6,85,000
View More Details
Maruti Suzuki Ertiga ZXI+ Smart HybridLocation: Shaikpet, Hyderabad, TelanganaRs. 10,95,000
View More Details
Toyota Innova gx-8str, 2008 ModelLocation: Lucknow, Uttar PradeshRs. 2,00,000
View More Details
Toyota Innova 2.5g, 2012 ModelLocation: Amberpet, Hyderabad, TelanganaRs. 4,50,000
View More Details
Mercedes-Benz E-Class E350CDI, 2010 ModelLocation: Bangalore, KarnatakaRs. 4,00,000
View More Details
Maruti Suzuki Ertiga Vxi, 2024 ModelLocation: Warangal, TelanganaRs. 9,80,000
View More Details
Mercedes-Benz C-Class C200, 2024 ModelLocation: Hyderabad, TelanganaRs. 52,50,000
View More Details

In [16]:
len(container)

64

## Scraping the data from the pages which needed

In [3]:
url = "https://www.carz4sale.in/used/buy/?page=1"

for i in range(1,21):
    print(f'https://www.carz4sale.in/used/buy/?page={i}')

https://www.carz4sale.in/used/buy/?page=1
https://www.carz4sale.in/used/buy/?page=2
https://www.carz4sale.in/used/buy/?page=3
https://www.carz4sale.in/used/buy/?page=4
https://www.carz4sale.in/used/buy/?page=5
https://www.carz4sale.in/used/buy/?page=6
https://www.carz4sale.in/used/buy/?page=7
https://www.carz4sale.in/used/buy/?page=8
https://www.carz4sale.in/used/buy/?page=9
https://www.carz4sale.in/used/buy/?page=10
https://www.carz4sale.in/used/buy/?page=11
https://www.carz4sale.in/used/buy/?page=12
https://www.carz4sale.in/used/buy/?page=13
https://www.carz4sale.in/used/buy/?page=14
https://www.carz4sale.in/used/buy/?page=15
https://www.carz4sale.in/used/buy/?page=16
https://www.carz4sale.in/used/buy/?page=17
https://www.carz4sale.in/used/buy/?page=18
https://www.carz4sale.in/used/buy/?page=19
https://www.carz4sale.in/used/buy/?page=20

In [6]:
Title = []

for i in range(1,21):
    url = f'https://www.carz4sale.in/used/buy/?page={i}'

    response = requests.get(url)
    html_code = response.text

    soup = BeautifulSoup(html_code, "html.parser")
    
    continer = soup.find_all('div', attrs={'class':'boxRow'})
    for c in continer:
        Title.append(c.text.strip())

In [8]:
len(Title)

824

# Creating the DataFrame

In [11]:
df=pd.DataFrame({"Containers":Title})
df

                                            Containers
0    Maruti Suzuki Dzire Zxi, 2018 ModelLocation: E...
1    Maruti Suzuki Ciaz VDI+ SHVS, 2015 ModelLocati...
2    Honda Brio S mt, 2012 ModelLocation: Pune, Mah...
3    Honda City VMT, 2016 ModelLocation: Noida, Utt...
4    Isuzu D-Max S-Cab S cab z, 2024 ModelLocation:...
..                                                 ...
819  Tata Vista Tech Terra, 2011 ModelLocation: Sam...
820  Maruti Suzuki Grand Vitara smart hybrid, 2024 ...
821  Tata Altroz Xz+ os cng, 2024 ModelLocation: Ay...
822  Maruti Suzuki  Sigma Petrol 1.2 baleno, 2018 M...
823  Renault Triber RXL, 2020 ModelLocation: Solapu...

[824 rows x 1 columns]

In [12]:
df.head()

                                          Containers
0  Maruti Suzuki Dzire Zxi, 2018 ModelLocation: E...
1  Maruti Suzuki Ciaz VDI+ SHVS, 2015 ModelLocati...
2  Honda Brio S mt, 2012 ModelLocation: Pune, Mah...
3  Honda City VMT, 2016 ModelLocation: Noida, Utt...
4  Isuzu D-Max S-Cab S cab z, 2024 ModelLocation:...

# Checking For Duplicates

In [16]:
print(df.duplicated().sum())

24

# Converted the file to CSV

In [17]:
df.to_csv("Cars_Data.csv",index = False)