In [28]:
import requests
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import re
import warnings
warnings.filterwarnings("ignore")

In [1]:
import pandas as pd
import re

# Step 1: Read the CSV file
df = pd.read_csv(r"Cars_Data.csv")

# Step 2: Define regex extraction functions
def extract_car_name(text):
    match = re.search(r"^(.*?),", str(text))
    return match.group(1) if match else None

def extract_car_year(text):
    match = re.search(r"\b(\d{4})\b", str(text))
    return match.group(1) if match else None

def extract_car_location(text):
    match = re.search(r"Location:\s*(.*?)Rs\.", str(text))
    return match.group(1) if match else None

def extract_car_price(text):
    match = re.search(r"Rs\.\s*([\d,]+)", str(text))
    return match.group(1) if match else None

# Step 3: Apply regex to extract columns
df["car_name"] = df["Containers"].apply(extract_car_name)
df["car_year"] = df["Containers"].apply(extract_car_year)
df["car_location"] = df["Containers"].apply(extract_car_location)
df["car_price"] = df["Containers"].apply(extract_car_price)

# Step 4: Clean price 
df["car_price"] = df["car_price"].str.replace(",", "").astype("Int64")

df.head()

,Containers,car_name,car_year,car_location,car_price
0,"Maruti Suzuki Dzire Zxi, 2018 ModelLocation: E...",Maruti Suzuki Dzire Zxi,2018,"Electronic City, Bangalore, Karnataka",575000
1,"Maruti Suzuki Ciaz VDI+ SHVS, 2015 ModelLocati...",Maruti Suzuki Ciaz VDI+ SHVS,2015,"Hyderabad, Telangana",475000
2,"Honda Brio S mt, 2012 ModelLocation: Pune, Mah...",Honda Brio S mt,2012,"Pune, Maharashtra",165000
3,"Honda City VMT, 2016 ModelLocation: Noida, Utt...",Honda City VMT,2016,"Noida, Uttar Pradesh",550000
4,"Isuzu D-Max S-Cab S cab z, 2024 ModelLocation:...",Isuzu D-Max S-Cab S cab z,2024,"Sarbhog, Barpeta, Assam",1500000

# Extracted the car city and loc from the column car_loc

In [3]:
df[['Car_city', 'Car_location']] = df['car_location'].str.rsplit(",",n=1, expand=True)

In [4]:
df

,Containers,car_name,car_year,car_location,car_price,Car_city,Car_location
0,"Maruti Suzuki Dzire Zxi, 2018 ModelLocation: E...",Maruti Suzuki Dzire Zxi,2018,"Electronic City, Bangalore, Karnataka",575000,"Electronic City, Bangalore",Karnataka
1,"Maruti Suzuki Ciaz VDI+ SHVS, 2015 ModelLocati...",Maruti Suzuki Ciaz VDI+ SHVS,2015,"Hyderabad, Telangana",475000,Hyderabad,Telangana
2,"Honda Brio S mt, 2012 ModelLocation: Pune, Mah...",Honda Brio S mt,2012,"Pune, Maharashtra",165000,Pune,Maharashtra
3,"Honda City VMT, 2016 ModelLocation: Noida, Utt...",Honda City VMT,2016,"Noida, Uttar Pradesh",550000,Noida,Uttar Pradesh
4,"Isuzu D-Max S-Cab S cab z, 2024 ModelLocation:...",Isuzu D-Max S-Cab S cab z,2024,"Sarbhog, Barpeta, Assam",1500000,"Sarbhog, Barpeta",Assam
...,...,...,...,...,...,...,...
819,"Tata Vista Tech Terra, 2011 ModelLocation: Sam...",Tata Vista Tech Terra,2011,"Sambalpur, Orissa",110000,Sambalpur,Orissa
820,"Maruti Suzuki Grand Vitara smart hybrid, 2024 ...",Maruti Suzuki Grand Vitara smart hybrid,2024,"Karimnagar, Telangana",1050000,Karimnagar,Telangana
821,"Tata Altroz Xz+ os cng, 2024 ModelLocation: Ay...",Tata Altroz Xz+ os cng,2024,"Ayodhya, Uttar Pradesh",850000,Ayodhya,Uttar Pradesh
822,"Maruti Suzuki Sigma Petrol 1.2 baleno, 2018 M...",Maruti Suzuki Sigma Petrol 1.2 baleno,2018,"Kolkata, West Bengal",360000,Kolkata,West Bengal
823,"Renault Triber RXL, 2020 ModelLocation: Solapu...",Renault Triber RXL,2020,"Solapur, Maharashtra",500000,Solapur,Maharashtra

# Drop the  Duplicates

In [5]:
df.duplicated().sum()

np.int64(24)

In [6]:
df = df.drop_duplicates().reset_index(drop=True)

In [7]:
df.duplicated().sum()

np.int64(0)

In [8]:
df.shape

(800, 7)

# Drop the Location column

In [9]:
df.drop(columns=['car_location'], inplace=True)

In [10]:
df

,Containers,car_name,car_year,car_price,Car_city,Car_location
0,"Maruti Suzuki Dzire Zxi, 2018 ModelLocation: E...",Maruti Suzuki Dzire Zxi,2018,575000,"Electronic City, Bangalore",Karnataka
1,"Maruti Suzuki Ciaz VDI+ SHVS, 2015 ModelLocati...",Maruti Suzuki Ciaz VDI+ SHVS,2015,475000,Hyderabad,Telangana
2,"Honda Brio S mt, 2012 ModelLocation: Pune, Mah...",Honda Brio S mt,2012,165000,Pune,Maharashtra
3,"Honda City VMT, 2016 ModelLocation: Noida, Utt...",Honda City VMT,2016,550000,Noida,Uttar Pradesh
4,"Isuzu D-Max S-Cab S cab z, 2024 ModelLocation:...",Isuzu D-Max S-Cab S cab z,2024,1500000,"Sarbhog, Barpeta",Assam
...,...,...,...,...,...,...
795,"Tata Vista Tech Terra, 2011 ModelLocation: Sam...",Tata Vista Tech Terra,2011,110000,Sambalpur,Orissa
796,"Maruti Suzuki Grand Vitara smart hybrid, 2024 ...",Maruti Suzuki Grand Vitara smart hybrid,2024,1050000,Karimnagar,Telangana
797,"Tata Altroz Xz+ os cng, 2024 ModelLocation: Ay...",Tata Altroz Xz+ os cng,2024,850000,Ayodhya,Uttar Pradesh
798,"Maruti Suzuki Sigma Petrol 1.2 baleno, 2018 M...",Maruti Suzuki Sigma Petrol 1.2 baleno,2018,360000,Kolkata,West Bengal
799,"Renault Triber RXL, 2020 ModelLocation: Solapu...",Renault Triber RXL,2020,500000,Solapur,Maharashtra

# Checking for null values

In [11]:
df.isna().sum()

Containers       0
car_name         0
car_year         6
car_price       28
Car_city        28
Car_location    39
dtype: int64

# Dropping the null values

In [12]:
df.dropna(inplace=True)
df

,Containers,car_name,car_year,car_price,Car_city,Car_location
0,"Maruti Suzuki Dzire Zxi, 2018 ModelLocation: E...",Maruti Suzuki Dzire Zxi,2018,575000,"Electronic City, Bangalore",Karnataka
1,"Maruti Suzuki Ciaz VDI+ SHVS, 2015 ModelLocati...",Maruti Suzuki Ciaz VDI+ SHVS,2015,475000,Hyderabad,Telangana
2,"Honda Brio S mt, 2012 ModelLocation: Pune, Mah...",Honda Brio S mt,2012,165000,Pune,Maharashtra
3,"Honda City VMT, 2016 ModelLocation: Noida, Utt...",Honda City VMT,2016,550000,Noida,Uttar Pradesh
4,"Isuzu D-Max S-Cab S cab z, 2024 ModelLocation:...",Isuzu D-Max S-Cab S cab z,2024,1500000,"Sarbhog, Barpeta",Assam
...,...,...,...,...,...,...
795,"Tata Vista Tech Terra, 2011 ModelLocation: Sam...",Tata Vista Tech Terra,2011,110000,Sambalpur,Orissa
796,"Maruti Suzuki Grand Vitara smart hybrid, 2024 ...",Maruti Suzuki Grand Vitara smart hybrid,2024,1050000,Karimnagar,Telangana
797,"Tata Altroz Xz+ os cng, 2024 ModelLocation: Ay...",Tata Altroz Xz+ os cng,2024,850000,Ayodhya,Uttar Pradesh
798,"Maruti Suzuki Sigma Petrol 1.2 baleno, 2018 M...",Maruti Suzuki Sigma Petrol 1.2 baleno,2018,360000,Kolkata,West Bengal
799,"Renault Triber RXL, 2020 ModelLocation: Solapu...",Renault Triber RXL,2020,500000,Solapur,Maharashtra

# Checking is there any null values are remaining

In [13]:
df.isna().sum()

Containers      0
car_name        0
car_year        0
car_price       0
Car_city        0
Car_location    0
dtype: int64

# Extracting the car_name from car_company

In [14]:
df['car_company'] = df['car_name'].str.extract(r'^(\w+)')

In [15]:
df

,Containers,car_name,car_year,car_price,Car_city,Car_location,car_company
0,"Maruti Suzuki Dzire Zxi, 2018 ModelLocation: E...",Maruti Suzuki Dzire Zxi,2018,575000,"Electronic City, Bangalore",Karnataka,Maruti
1,"Maruti Suzuki Ciaz VDI+ SHVS, 2015 ModelLocati...",Maruti Suzuki Ciaz VDI+ SHVS,2015,475000,Hyderabad,Telangana,Maruti
2,"Honda Brio S mt, 2012 ModelLocation: Pune, Mah...",Honda Brio S mt,2012,165000,Pune,Maharashtra,Honda
3,"Honda City VMT, 2016 ModelLocation: Noida, Utt...",Honda City VMT,2016,550000,Noida,Uttar Pradesh,Honda
4,"Isuzu D-Max S-Cab S cab z, 2024 ModelLocation:...",Isuzu D-Max S-Cab S cab z,2024,1500000,"Sarbhog, Barpeta",Assam,Isuzu
...,...,...,...,...,...,...,...
795,"Tata Vista Tech Terra, 2011 ModelLocation: Sam...",Tata Vista Tech Terra,2011,110000,Sambalpur,Orissa,Tata
796,"Maruti Suzuki Grand Vitara smart hybrid, 2024 ...",Maruti Suzuki Grand Vitara smart hybrid,2024,1050000,Karimnagar,Telangana,Maruti
797,"Tata Altroz Xz+ os cng, 2024 ModelLocation: Ay...",Tata Altroz Xz+ os cng,2024,850000,Ayodhya,Uttar Pradesh,Tata
798,"Maruti Suzuki Sigma Petrol 1.2 baleno, 2018 M...",Maruti Suzuki Sigma Petrol 1.2 baleno,2018,360000,Kolkata,West Bengal,Maruti
799,"Renault Triber RXL, 2020 ModelLocation: Solapu...",Renault Triber RXL,2020,500000,Solapur,Maharashtra,Renault

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 758 entries, 0 to 799
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Containers    758 non-null    object
 1   car_name      758 non-null    object
 2   car_year      758 non-null    object
 3   car_price     758 non-null    Int64
 4   Car_city      758 non-null    object
 5   Car_location  758 non-null    object
 6   car_company   758 non-null    object
dtypes: Int64(1), object(6)
memory usage: 48.1+ KB

# Observation :- In the Car_location column there are the elements or the name of the location is incomplete so need to replace them and some loc are having extra details with them so need to remove them

# Strip Whitespace and Newlines

In [18]:
df['Car_location'] = df['Car_location'].str.replace('\n', ' ').str.strip()

In [19]:
df["Car_location"].unique()

array(['Karnataka', 'Telangana', 'Maharashtra', 'Uttar Pradesh', 'Assam',
       'Tamil Nadu', 'Kerala', 'Gujarat', 'Punjab', 'Delhi', 'Haryana',
       'Madhya Pradesh', 'Utarakhand', 'Rajasthan', 'West Bengal',
       'Andhra Pradesh', 'Jammu Kashmir', 'Himachal Pradesh',
       'Pondicherry', 'Chhattisgarh', 'Andaman Nicobar', 'Jharkhand',
       'Orissa', 'Bihar', 'Goa'], dtype=object)

In [20]:
df['Car_location'] = df['Car_location'].str.replace(r'View More Detail|Owner', '', regex=True).str.strip()

In [21]:
df["Car_location"].unique()

array(['Karnataka', 'Telangana', 'Maharashtra', 'Uttar Pradesh', 'Assam',
       'Tamil Nadu', 'Kerala', 'Gujarat', 'Punjab', 'Delhi', 'Haryana',
       'Madhya Pradesh', 'Utarakhand', 'Rajasthan', 'West Bengal',
       'Andhra Pradesh', 'Jammu Kashmir', 'Himachal Pradesh',
       'Pondicherry', 'Chhattisgarh', 'Andaman Nicobar', 'Jharkhand',
       'Orissa', 'Bihar', 'Goa'], dtype=object)

In [22]:
df["Car_city"].unique()

array(['Electronic City, Bangalore', 'Hyderabad', 'Pune', 'Noida',
       'Sarbhog, Barpeta', 'Sendurai, Ariyalur', 'Varanasi',
       'Dombivli, Thane', 'Thrissur', 'Daman, Valsad', 'Gurdaspur',
       'Nagpur', 'Ayodhya', 'Andheri East, Mumbai',
       'Vasai-Virar, Palghar', 'Hebbal, Bangalore', 'New Delhi', 'Hisar',
       'T. Nagar, Chennai', 'Andheri West, Mumbai', 'Etah',
       'HSR Layout, Bangalore', 'Vadodara', 'Bangalore', 'Ghaziabad',
       'Whitefield, Bangalore', 'Sholinganallur, Chennai',
       'Bannerghatta Road, Bangalore', 'Rajapalayam, Virudhunagar',
       'Shahdol', 'Kolhapur', 'Dehradun', 'Tiruchirappalli',
       'Yelahanka, Bangalore', 'Meerut', 'Nagaur', 'Amritsar', 'Solapur',
       'Bellandur, Bangalore', 'Gurgaon', 'Gorakhpur', 'Aluva, Ernakulam',
       'Sirsi, North Kannada', 'Lucknow', 'Amberpet, Hyderabad',
       'Warangal', 'Krishnanagar, Nadia', 'Visakhapatnam',
       'KR Puram, Bangalore', 'Vandavasi, Tiruvannamalai', 'Wakad, Pune',
       'Rajauri', 'Vasundhara, Ghaziabad', 'Banashankari, Bangalore',
       'Katra, Reasi', 'Khairatabad, Hyderabad', 'Hosur',
       'Greater Noida, Gautam Buddha Nagar', 'Guwahati', 'Chennai',
       'Bilaspur, Yamunanagar', 'Rangareddy', 'Valsad', 'South Delhi',
       'Gautam Buddha Nagar', 'Tadipatri, Anantapur', 'Coimbatore',
       'Hinjewadi, Pune', 'Sanand, Ahmedabad', 'Bikaner', 'Jammu',
       'Ahmedabad', 'Madurai', 'Tilpat, Faridabad', 'Manesar, Gurgaon',
       'Pimpri-Chinchwad', 'Hadapsar, Pune', 'Mumbai', 'Jhunjhunu',
       'Mayur Vihar, East Delhi', 'Noida, Gautam Buddha Nagar',
       'Najafgarh, South West Delhi', 'Rewari', 'Hooghly', 'Navi Mumbai',
       'Kangra', 'Kadapa', 'Faridabad', 'Rajajinagar, Bangalore',
       'Mysore', 'Bhopal', 'Chidambaram, Cuddalore',
       'Defence Colony, South East Delhi', 'Alandur, Chennai',
       'Shegaon, Buldhana', 'Kollam', 'Pondicherry',
       'Punjabi Bagh, West Delhi', 'Risali, Durg', 'Palakkad',
       'Pimpri-Chinchwad, Pune', 'Chitradurga', 'Alibag, Raigad',
       'Mangalore', 'Agra', 'Daryaganj, Central Delhi', 'Kharar, Mohali',
       'Trivandrum', 'Aruppukkottai, Virudhunagar',
       'Dundigal, Medchal-Malkajgiri', 'Parkal, Hanamkonda',
       'Greater Noida', 'Dhalli, Shimla', 'West Delhi', 'Salem',
       'Tambaram, Chengalpattu', 'Jayanagar, Bangalore',
       'North 24 Parganas', 'Karol Bagh, Central Delhi', 'Port Blair',
       'Jamshedpur', 'Mylapore, Chennai', 'Railmagra, Rajsamand',
       'Shivpuri', 'Thane', 'Bharuch', 'Karnal',
       'Dwarka, South West Delhi', 'Rohini, North West Delhi',
       'Marathahalli, Bangalore', 'KGF, Kolar', 'Mulund East, Mumbai',
       'Raipur', 'Secunderabad, Hyderabad', 'Jaysingpur, Kolhapur',
       'Jaipur', 'Pathanamthitta', 'Ameerpet, Hyderabad', 'Nagaon',
       'Ambattur, Chennai', 'BTM Layout, Bangalore', 'Virudhunagar',
       'Yamunanagar', 'Palampur, Kangra', 'Guindy, Chennai',
       'Samalkha, Panipat', 'Bilaspur', 'Sarjapur Road, Bangalore',
       'Bhubaneshwar', 'Irikkur, Kannur', 'Junagadh', 'Kolkata', 'Gadag',
       'Saket, South Delhi', 'Bhandup, Mumbai', 'Krishnagiri',
       'Annur, Coimbatore', 'Indiranagar, Bangalore',
       'Nagercoil, Kanyakumari', 'Ranchi', 'Rohtak', 'Ulhasnagar, Thane',
       'Jatani, Khordha', 'Pudukkottai', 'Panchkula', 'Nellore',
       'Malad, Mumbai', 'Narnaul, Mahendragarh',
       'Kazhakoottam, Trivandrum', 'Bahadurgarh, Jhajjar',
       'Bheemunipatnam, Visakhapatnam', 'Kota',
       'Gobichettipalayam, Erode', 'Sirsa', 'Fatehpur', 'Panvel, Raigad',
       'Tiruvannamalai', 'Parwanoo, Solan', 'Bhiwandi, Thane',
       'Rajouri Garden, West Delhi', 'Mira-Bhayandar, Thane',
       'Preet Vihar, East Delhi', 'Kochi, Ernakulam',
       'Bandra West, Mumbai', 'Macherla, Guntur', 'Ratnagiri',
       'Dammaiguda, Medchal-Malkajgiri', 'Thuvakudi, Tiruchirappalli',
       'Mehgaon, Bhind', 'Kodagu', 'Indore', 'Sri Ganganagar',
       'North East Delhi', 'Ludhiana', 'Ratu, Ranchi', 'East Delhi',
       'Ottappalam, Palakkad', 'Kachchh', 'Ankleshwar, Bharuch',
       'Guruvayoor, Thrissur', 'Attingal, Trivandrum', 'Alappuzha',
       'Kozhikode', 'Siliguri, Darjeeling', 'Jalpaiguri', 'Sagar',
       'Mehrauli, South Delhi', 'Rishikesh, Dehradun', 'Sunam, Sangrur',
       'Auraiya', 'Pillu Khera, Jind', 'Rajkot', 'Jodhpur',
       'Devakottai, Sivaganga', 'Nadiad, Kheda', 'South West Delhi',
       'Hassan', 'Patna', 'Kanhangad, Kasargod', 'Margao', 'Jind',
       'Munger', 'Silchar, Cachar', 'Panipat', 'Ambur, Tirupattur',
       'Erode', 'Jhajjar', 'Tigaon, Faridabad', 'Kurla East, Mumbai',
       'Perambur, Chennai', 'Lalgudi, Tiruchirappalli',
       'Coonoor, Nilgiris', 'Chandrapur', 'Borivali, Mumbai',
       'Viluppuram', 'Nahan, Sirmaur', 'Kishtwar', 'Didwana-Kuchaman',
       'Badlapur, Thane', 'Bhiwani', 'Srinagar', 'Kaithal', 'Kasargod',
       'Bardoli, Surat', 'Ernakulam', 'Tirumalagiri, Hyderabad',
       'Adityapur, Saraikela Kharsawan', 'Kompally, Medchal-Malkajgiri',
       'Bhubaneswar, Khordha', 'Aurangabad', 'Udupi',
       'Jagdishpur, Amethi', 'Gwalior', 'Hubballi, Dharwad',
       'Khairthal-Tijara', 'Keredari, Hazaribag', 'Mohanlalganj, Lucknow',
       'Parel, Mumbai', 'Saharanpur', 'Matunga, Mumbai',
       'Denduluru, Eluru', 'Nadbai, Bharatpur', 'Naya Raipur, Raipur',
       'Surat', 'Balotra', 'Anna Nagar, Chennai', 'Farrukhnagar, Gurgaon',
       'Daudnagar, Aurangabad', 'Fazilka', 'Dum Dum, North 24 Parganas',
       'Chickmagalur', 'Ballia', 'Cuttack', 'Chavakkad, Thrissur',
       'Neemuch', 'Waghodia, Vadodara', 'Gandhinagar, Ahmedabad',
       'Aligarh', 'Thalassery, Kannur', 'Palakollu, West Godavari',
       'Kandivali, Mumbai', 'Nurpur, Kangra', 'Ujjain', 'Churu',
       'Changanassery, Kottayam', 'Roorkee, Haridwar',
       'Jagadhri, Yamunanagar', 'Badkhal, Faridabad',
       'Sarita Vihar, South East Delhi', 'Dakshina Kannada', 'Vijayawada',
       'Raipur Rani, Panchkula', 'Nanded', 'Mormugao, South Goa',
       'Kotli, Mandi', 'Muzaffarpur', 'Puttur, Dakshina Kannada',
       'Kalol, Gandhinagar', 'Raigad', 'Puri', 'Rawatsar, Hanumangarh',
       'Jalalpur, Ambedkar Nagar', 'Manapparai, Tiruchirappalli',
       'Chhindwara', 'Motihari, EastChamparan', 'Jabalpur', 'North Goa',
       'Gandhinagar', 'Najibabad, Bijnor', 'Chengalpattu', 'Anantapur',
       'Kashipur, Udham Singh Nagar', 'Katni', 'Aonla, Bareilly',
       'Chinsurah, Hooghly', 'Barabanki', 'Pirawa, Jhalawar',
       'Rourkela, Sundergarh', 'Amroha', 'Beawar', 'Sambalpur', 'Kurnool',
       'Zirakpur, Mohali', 'Bhuban, Dhenkanal', 'Huzur, Bhopal',
       'Valapady, Salem', 'Pardi, Valsad', 'Cuddalore',
       'Akkalkot, Solapur', 'Nashik', 'Nawalgarh, Jhunjhunu',
       'Ghosi, Mau', 'Baraut, Bagpat', 'Bundi', 'Bathinda',
       'Daulatpur Chowk, Una', 'Hoshangabad', 'South 24 Parganas',
       'Devbhoomi Dwarka', 'Duvvur, Kurnool', 'Alipur, North Delhi',
       'Pathankot', 'Surendranagar', 'Etawah', 'Karimnagar'], dtype=object)

# Replacing the incomplete location names

In [23]:
corrections = {
    'Utarakhand': 'Uttarakhand',
    'Jammu Kashmir': 'Jammu & Kashmir',
    'Orissa': 'Odisha',
    'Andaman Nicobar': 'Andaman & Nicobar',
}

In [24]:
df['Car_location'] = df['Car_location'].replace(corrections)

In [25]:
df['Car_varient'] = df['car_name'].apply(lambda x: ' '.join(str(x).split()[-2:]))

In [26]:
df["Car_varient"] = df["Car_varient"].str.replace("wheel drive","four wheel drive")

In [29]:
owner_options = ['Single Owner', 'Second Owner']
df['Car_owner'] = np.random.choice(owner_options, size=len(df))

In [30]:
df['Car_owner'] = np.random.choice(owner_options, size=len(df), p=[0.7, 0.3])

In [31]:
df

,Containers,car_name,car_year,car_price,Car_city,Car_location,car_company,Car_varient,Car_owner
0,"Maruti Suzuki Dzire Zxi, 2018 ModelLocation: E...",Maruti Suzuki Dzire Zxi,2018,575000,"Electronic City, Bangalore",Karnataka,Maruti,Dzire Zxi,Single Owner
1,"Maruti Suzuki Ciaz VDI+ SHVS, 2015 ModelLocati...",Maruti Suzuki Ciaz VDI+ SHVS,2015,475000,Hyderabad,Telangana,Maruti,VDI+ SHVS,Second Owner
2,"Honda Brio S mt, 2012 ModelLocation: Pune, Mah...",Honda Brio S mt,2012,165000,Pune,Maharashtra,Honda,S mt,Single Owner
3,"Honda City VMT, 2016 ModelLocation: Noida, Utt...",Honda City VMT,2016,550000,Noida,Uttar Pradesh,Honda,City VMT,Single Owner
4,"Isuzu D-Max S-Cab S cab z, 2024 ModelLocation:...",Isuzu D-Max S-Cab S cab z,2024,1500000,"Sarbhog, Barpeta",Assam,Isuzu,cab z,Single Owner
...,...,...,...,...,...,...,...,...,...
795,"Tata Vista Tech Terra, 2011 ModelLocation: Sam...",Tata Vista Tech Terra,2011,110000,Sambalpur,Odisha,Tata,Tech Terra,Single Owner
796,"Maruti Suzuki Grand Vitara smart hybrid, 2024 ...",Maruti Suzuki Grand Vitara smart hybrid,2024,1050000,Karimnagar,Telangana,Maruti,smart hybrid,Second Owner
797,"Tata Altroz Xz+ os cng, 2024 ModelLocation: Ay...",Tata Altroz Xz+ os cng,2024,850000,Ayodhya,Uttar Pradesh,Tata,os cng,Single Owner
798,"Maruti Suzuki Sigma Petrol 1.2 baleno, 2018 M...",Maruti Suzuki Sigma Petrol 1.2 baleno,2018,360000,Kolkata,West Bengal,Maruti,1.2 baleno,Second Owner
799,"Renault Triber RXL, 2020 ModelLocation: Solapu...",Renault Triber RXL,2020,500000,Solapur,Maharashtra,Renault,Triber RXL,Single Owner

# Drop Container Column

In [32]:
df.drop(columns=['Containers'], inplace=True)

In [33]:
df

,car_name,car_year,car_price,Car_city,Car_location,car_company,Car_varient,Car_owner
0,Maruti Suzuki Dzire Zxi,2018,575000,"Electronic City, Bangalore",Karnataka,Maruti,Dzire Zxi,Single Owner
1,Maruti Suzuki Ciaz VDI+ SHVS,2015,475000,Hyderabad,Telangana,Maruti,VDI+ SHVS,Second Owner
2,Honda Brio S mt,2012,165000,Pune,Maharashtra,Honda,S mt,Single Owner
3,Honda City VMT,2016,550000,Noida,Uttar Pradesh,Honda,City VMT,Single Owner
4,Isuzu D-Max S-Cab S cab z,2024,1500000,"Sarbhog, Barpeta",Assam,Isuzu,cab z,Single Owner
...,...,...,...,...,...,...,...,...
795,Tata Vista Tech Terra,2011,110000,Sambalpur,Odisha,Tata,Tech Terra,Single Owner
796,Maruti Suzuki Grand Vitara smart hybrid,2024,1050000,Karimnagar,Telangana,Maruti,smart hybrid,Second Owner
797,Tata Altroz Xz+ os cng,2024,850000,Ayodhya,Uttar Pradesh,Tata,os cng,Single Owner
798,Maruti Suzuki Sigma Petrol 1.2 baleno,2018,360000,Kolkata,West Bengal,Maruti,1.2 baleno,Second Owner
799,Renault Triber RXL,2020,500000,Solapur,Maharashtra,Renault,Triber RXL,Single Owner

In [34]:
df["car_company"].unique()

array(['Maruti', 'Honda', 'Isuzu', 'Kia', 'Mercedes', 'Renault', 'Tata',
       'Hyundai', 'Ford', 'Jeep', 'Datsun', 'Toyota', 'BMW', 'Audi',
       'Mahindra', 'Chevrolet', 'Volkswagen', 'MG', 'Citroen', 'Skoda',
       'Force', 'Nissan', 'Bajaj', 'Fiat', 'Mitsubishi', 'Land', 'Volvo',
       'Morris'], dtype=object)

In [35]:
df["Car_varient"].unique()

array(['Dzire Zxi', 'VDI+ SHVS', 'S mt', 'City VMT', 'cab z', 'o 7',
       'Mercedes-Benz GLE', 'TURBO 7DCT', 'Delta 1.2', 'Kwid Petrol',
       'Hexa XTA', 'Signature dct', 'Nexon XZ', 'SX (O)', 'Seltos X-Line',
       'optional AMT', 'Titanium Petrol', 'Verna Petrol',
       'Variant (Manual)', 'CDI style', 'pure+TCA DCA', '1.2 Asta',
       'ZXI AMT', 'diesel ex', 'Petrol AT', 'Top Model', 'Hatch back',
       'Figo Titanium', 'AT Hybrid', '5-Series 525', 'Zxi Diesel',
       'Q3 Petrol', 'MT DSL', 'LR EV', 'Civic 1.8S', 'MT IVTEC',
       'Scorpio N', 'Dzire ZDI', 'MT Petrol', 'Civic VX', 'Ritz Vxi',
       'Celerio Automatic', 'Carens Prestige', 'PS Diesel', 'dual tone',
       'Kiger AMT', 'IMT MDRIVE7', '500 W6', 'Taigun TSI', 'Seltos HTX',
       'Diesel Ambiente', 'Fiesta Diesel', 'Kwid Rxt', 'Brezza ZDI',
       'DCT Sharp', 'tour S', 'Innova gx-8str', 'Innova 2.5g',
       'E-Class E350CDI', 'Ertiga Vxi', 'C-Class C200', 'Ecosport Trend',
       'BASE ABS', 'S-Cross Zeta', 'Asta diesel', 'Jazz IV-Tech',
       'petrol automatic', 's plus', 'R Lx', 'MT 1.0', 'Toyota Fortuner',
       'Alto K10', 'Hyundai i20', 'Swift ZXI', '800 OPT', '1.4 PETROL',
       'UPTO 2030', 'Jazz V', 'XL6 Zeta', 'top model',
       'Ecosport Trendline', 'ZXI Plus', 'MT AE', 'BS IV', 'i20 Asta',
       'Creta Sx1.6', 'Xylo D2bs3', 'GTX PLUS', 'amt petrol', 'Kappa 1.2',
       'automatic petrol', 'Polo Comfortline', 'Hector Sharp2.0',
       'urban class', 'S-Cross ZETA', 'Tigor XZPLUS', '1.2Turbo 5S',
       'MT Limited', 'Carens Prestiege', 'Dezair vxi', 'SX (o)',
       'PLUS DIESEL', 'Amaze Diesel', 'D MT', 'Swift LXI', 'Brio Petrol',
       '20D Xline', 'Tiago XE', 'Vxi+ AMT', 'R Cng', 'Polo Highline',
       'Alto k10', 'XUV300 W4', 'XZA+O AMT', 'T8 AMT', 'Delta AGS',
       'Crysta GX', '6 Seater', 'Vxi Amt', '1.6 VTVT', '1.4 AT',
       '4X4 Diesel', 'Ivtc s', 'Eeco CNG', 'Creta Sx(o)', 'Ciaz Alpha',
       'EV Exclusive', '7str hybrid', 'titanium desal', 'Etios GD',
       'Ciaz Zxi', 'Harrier XZPLUS', 'Tiago XZ', 'CNG TOUR', 'i10 Sports',
       'IVTEC S', 'Baleno delta', 'Vxi 1.2', 'PS PETROL',
       'ELIGANCE 1.2TDI', 'Sonet HTX', 'Xcent E+', 'Swift VXI',
       'PETROL (I-VTECH)', 'Verna Diesel', 'Verito D4', 'Suzuki Swift',
       '2WD DIESEL', 'Vx cvt', '320 D', 'Dezire Tour', 'Kona Premium',
       'Triber RXZ', 'Innova v', 'neo N-10', 'Swift Vxi', 'Baleno Delta',
       'Renault Logan', 'Honda City', '7 Str', 'Trax Ambulance',
       'CRDI E+', '- 1.5T', 'V AT', 'Glanza E', 'R Petrol',
       'Hyundai Xing', 'DARK EDITION', '1.4 base', 'Kushaq AMBITION',
       'Vento Diesel', 'Micra Diesel', 'VXI Petrol', 'Nline manual',
       '1.4 turbo', '1.2 LS', 'Venue Sx1.5', 'Ertiga Cng', 'lux Max',
       'Hector Plus', 'Ex 1.2', 'Volkswagen Polo', 'Alto VXI',
       'Savvy Pro', 'mt diesel', '1.2 SMT', 'plus ags', 'Optra 1.6',
       'Astor Savvy', 'ZXI SMARTHYBRID', 'Creta SX', 'Vdi RS',
       'Edition C', 'Alpha AT', 'Altroz XZA', 'Eon era+', 'Htk optional',
       'Excellence LR', 'Glanza S', 'Brezza Zxi+', 'XT Revetron', 'Sx at',
       'Vitara Sigma', 'Lxi CNG', 'Mahindra XUV300', '1.5 MT',
       'JAZZ 1.2/CVT', 'Chevrolet Captiva', 'Renault Lodgy',
       'Amaze VX-iDTEC', 'L BE', 'Venue S', 'Sigma manual', 'Dzire Tours',
       'shiva rs', 'Cresta 2017', 'Ivtec SMT', 'Baleno Blue',
       'idtec diesel', 'Zeta 1.3', 'VXI ABS', 'Zen LXi', 'GLE 350',
       'Dzire Vxi', 'Savy Pro', '1.5 Sharp', 'Delta AMT', 'S-Cab HINDI',
       'Baleno Zeta', 'XT Diesel', 'I VTECH', 'City SMT', 'Super carry',
       '530d MSPORT', 'Celerio Zxi', 'Sportz plus', 'petrol IMT',
       '4x4 petrol', 'Ritz VXI', 'Xz plus', 'HTX Plus', 'City V',
       'Zest XM', 'pro AT', 'Qute Cng', '1.0 at', 'N Line', 'Getz Gle',
       'Brezza LXI', '1.4 LT', 'Petrol MT4WD', '500 w10', 'Dzire VDi',
       'CRDi S', 'Diesel Titanium', 'i20 sportz', 'i20 Sportz',
       'Trend Diesel', 'Sharp BSVI', 'ZX CVT', 'Dzire VDI', '(O) 4*2',
       'Amaze CVT', 'GL Manual', 'TUV300 T8', 'Petrol Automatic',
       'Ford Figo', 'Creta E', '1.2 petrol', 'Innova CrystA',
       'Starlight Automatic', '500 W8', 'Swift Zdi', 'Indigo CSeGLX',
       '4x2 AT', 'TSI 1.0', 'Ertiga VDI', 'sv petrol', 'Estilo LXI',
       'Virtus Base', 'Motors Gurkha', 'CGI Elegance', 'MT 7STR',
       'I10 Magna', 'Nexon XZ+S', 'NEXON (D)XZA+(O)DARK', 'Breeza ZXI+',
       'i20 Magna', 'i10 Magna', 'Vista Tech', 'DCT AT', 'Kia Carens',
       'Magnite XE', '2.0 diesel', 'Brezza AT', 'Fearless MT',
       'DCT automatic', 'Duratec Titanium', 'CRDI S', 'Harrier Xm',
       '1.2 Kappa2', 'Petrol 7DCA', '1.5 DSG', 'i10 Nios', 'Duster RXL',
       '4x4 Automatic', 'altis D4J', 'Hector Hybrid', 'Sunny XV',
       'ALPHA PETROL', 'S CNG', 'Ecoboost titanium', 'E PLUS', 'Alto Lxi',
       'Tata Hexa', 'Dual Tone', 'Grand i10', 'hybrid 1.5', 'Thar crde',
       '1.5L Petrol', 'Ignis zeta', 'Comfortline Variant', 'monte carlo',
       'XUV700 AX3', 'ZETA 1.3', 'LXI CNG', '35 4Matic', 'Polo TSI',
       'Xcent VTVT', 'XUV700 AX7', 'Grand Nios', 'Hector Sharp', 'MT 4WD',
       'Honda BR-V', 'VX i-vtec', 'Luxury Line', 'Tiago Xzo',
       'model petrol', 'ACTIVE 1.2', 'Tigor XZO', 'Pur amt',
       'Baleno Base', 'Grand sportz', '1.2 vtvt', 'R 2009', 'Tigor XZ+',
       'World Edition', 'LDI (O)', '6 seater', '500 w11', '7 seater',
       'black s', 'Amaze Sx', 'Micra DCI', 's optional',
       'sports AUTOMATIC', '1.0 TURBO', 'C-Class C220d', 'Verna Fluidic',
       'Turbo MT', 'Tiago automatic', 'CRDi Diesel', 'Mobilio Ivtec',
       'S-Cross Alpha', '520D Luxuryline', 'plus Amt',
       'Mitsubishi Pajero', '1.6 ZXI', 'Mt 1.2', 'XZA+ (S)', 'GREY 2025',
       'Hyundai Tucson', 'G1.0 AE', 'Xm plus', 'ZDI SHVS', 'Figo TDCi',
       'GLC 300', '2017 manual', 'i20 magna', 'nexon pure+pmt',
       'WR-V Petrol', 'Beat Diesel', 'Kwid gearless', 'Petrol CNG',
       'L petrol', 'manual 4by2', 'i10 Automatic', 'BVI BS6', 'XZ (O)',
       'Brezza VDi', 'E ivtec', 'VKI amt', 'Alpha 1.3', 'alpha hybrid',
       'Innova G', 'DCT SXO', 'Titanium 2.2mt', 'GLA 200', 'PLUS O',
       '2.7V Petrol', 'm sport', 'petrol manual', 'City 1.5SMT',
       'XL6 Alpha', '1.2 SX', 'Kwid Climber', 'Slavia Active',
       'Vxi petrol', 'Imt diesel', 'Creta Good', 'Style 1.5',
       'Seltos HTK', 'R Vxi', 'Ertiga 2023', 'Quanto C2', 'Tiago Nrg',
       'Titanium plus', 'sx optional', 'Mahindra XUV700', 'Micra XVCVT',
       'Tdi comfortline1.2', '1.5 diesel', 'TIT MT', 'Altroz Xm',
       'Xt cng', 'LEGENDER 4x2', 'i20 Sports', '1.0 AT', 'VXI cng',
       'Lxi cng', 'High line', '6 MT', 'Skoda Slavia', 'iX Xdrive40',
       '4*4 style', '(O) 2.0', 'Creta Sx', 'AT Petrol', 'Diesel 4×4',
       'Dzire Vdi', 'Compass Petrol', 'i 10', 'MT S+', 'Suzuki XL6',
       'Santro Petrol', 'disele longitude', 'RXZ AMT', 'Tata Electric',
       'Figo zxi', 'Hyundai Venue', 'END AT', 'plus bs6',
       'Polo Trendline', 'Zxi AMT', 'RXS CVT', 'Plus petrol', '(O) AT',
       'Hector Savy', 'S-Class 350', 'Camry Hybrid', 'Toyota Cresta',
       '2016 diesel', 'Vx MT', 'XL Diesel', 'Plus Diesel', 'Glanza VAMT',
       '1.6 SX', 'Empowered plus', 'Taigun Comfortline', 'Santo xing',
       'XMA AMT', 'DLS V2', 'Fiesta Sxi1.4', 'Tigor XT', 'Suzuki Ertiga',
       'Santro Xing', 'W6 2WD', 'Etios Vx', 'Tiago Xt(o)', 'Kia',
       'City Cvt', 'plus s', '177 BHP', 'Sx plus', 'Nexon Pure',
       '1.3 flair', 'AT (Automatic)', '800 VXI', 'Tata Altroz',
       'Xdrive 20d', 'Sd4 pure', 'Ameo 1.0', 'Rxl petrol', 'Nio sports',
       'Suzuki 800', 'SX4 Automatic', 'GT TSI', '500 W10', 'Turbo Petrol',
       '1.5 petrol', 'W8 O', 'Zeta petrol', 'Alto LXI', 'Dzire Lxi',
       'Scorpio S-10', '5-Series 525D', 'Punch pure', 'Kia Seltos',
       'high line', 'grip automatic', 'ZXI 1.4', 'Harrier XM', 'W10 amt',
       '4x4 manual', 'VXI petrol', 'Amaze Vx', 'automatic sx',
       'SMT (I-VTEC)', 'turbo petro', 'Gloster Savvy', 'S petrol',
       'bluedrive magna', 'automatic varient', 'i10 Era', '56KW MT-CL',
       'Brezza Vxi', 'Ex 1.5M', 'XC60 Incription', 'Active 1.0', 'R VXI',
       'Sports automatic', 'Hyundai Grandi10', 'plus automatic',
       'Punch accomplished', 'RXL Diesel', 'Mahindra Jeeto', 'o amt',
       'Accord Bti', 'DCT Turbo', 'Sportz MT', '2016 December', 'R Gray',
       'Automatic dct', 'Hyundai Diesel', 'Xza plus', 'HTK PLUS',
       'gx manual', 'W8 optional', 'Kushaq 2025', 'plus 2.0',
       'Marazzo 2023', 'KUV100 K8', 'Credit diesel', 'Sail 1.2LTABS',
       'SX1l turbo', '4S HT', 'Bolero BS6', 'Petrol Manual', 'Smart plus',
       'R1 0L', 'SMART HYBRID', 'Plus (2020-2023)', 'I20 Active',
       'VXI BSIII', 'SX executive', '1.5 Tdi', 'HTX DCT', '1.4 ex',
       'Swift VXi', 'Lodgy rxl', 'Wagon R', 'Eeco 5', 'S 10', 's cng',
       'Cresta GX+', 'RXT 1.0', 'WITH AT', 'Grand Asta', 'super MT',
       '1.2 sx', 'Bolero Bs3', 'TDCi Titanium', 'i10 Sportz',
       '1.5TSI DSG', 'Zx 7seater', 'VTVT SXO', 'VTVT SX', 'Exter Sx',
       'Terrano 85ps', 'plus amt', 'Titanium Diesel', 'AT PETROL',
       'Sonet Dct', 'XV Turbo', '7seater Petrol/Cng', 'EV ESSENCE',
       'diesel signature', 'Ford Ecosport', '500 Diesel',
       'petrol Automatic', 'Sigma 1.3', '800 Du', 'Hyundai Santro',
       'Mahindra Maxximo', 'Manual Petrol', 'i10 Asta', 'Eon 2017',
       'V Diesel', '800 LXI', 'Swift VDI', 'Nexon Xma', 'Safari XZA+',
       '2.0 manual', 'Sx At', 'Compass Sports', 'E-Class 220d',
       'LITE PLUS(O)', 'Tata Indigo', 'Amaze 2018', 'Exclusive pro',
       'ivt automatic', 'Indigo Ecs', 'Magnite Manual', '1.6 Diesel',
       'XM CMG', 'Suzuki Baleno', 'tiago XZ', 'Xylo D2', 'Fronx Zeta',
       'N10 O', 'Ritz Vdi', 'ivtec S', '1.4 emotion', 'Indica Qurdrajet',
       'ALTO 800', 'seater mt', 'MT KIPPA', 'Taigun Topline',
       'LONGITUDE 2.0D', 'Asta opt', '1.0 VXI', 'Xza kaziranga',
       'Baleno ZETA', 'S MT', '7 str', 'DCT SX(O)', '2019 magna',
       'Tiago Xza+', 'Harrier XT', 'Citroen C3', '2.0 AT',
       'VXI AUTOMATIC', 'Asta Optiona', 'Executive Turbo', '1.5 CVT',
       'RXZ DCI', 'Ls TDI', 'MPI MT', 'Mercedes-Benz C-Class',
       'Volkswagen Taigun', 'Sports ABS', 'Cross Disal', 'Plus Lux',
       'Ciaz Hybrid', 'Tech Terra', 'smart hybrid', 'os cng',
       '1.2 baleno', 'Triber RXL'], dtype=object)

In [36]:
df["car_name"].unique()

array(['Maruti Suzuki Dzire Zxi', 'Maruti Suzuki Ciaz VDI+ SHVS',
       'Honda Brio S mt', 'Honda City VMT', 'Isuzu D-Max S-Cab S cab z',
       'Kia Carens g1.5 6MT prestige o 7', 'Mercedes-Benz GLE',
       'Kia Sonet HTX 1.0 TURBO 7DCT', 'Maruti Suzuki Baleno Delta 1.2',
       'Renault Kwid Petrol', 'Tata Hexa XTA',
       'Hyundai Alcazar Signature dct', 'Tata Nexon XZ',
       'Hyundai Creta SX (O)', 'Kia Seltos X-Line',
       'Maruti Suzuki Swift VXI optional AMT',
       'Ford Freestyle Titanium Petrol', 'Hyundai Verna Petrol',
       'Hyundai Creta Top Variant (Manual)',
       'Mercedes-Benz GLA 200 CDI style', 'Tata Curvv Curvv pure+TCA DCA',
       'Hyundai Elite i20 1.2 Asta', 'Maruti Suzuki Swift ZXI AMT',
       'Hyundai Verna 1.4 diesel ex', 'Jeep Compass S Petrol AT',
       'Honda Jazz Top Model', 'Datsun Redi-GO Hatch back',
       'Ford Figo Titanium',
       'Toyota Urban Cruiser Hyryder Model V AT Hybrid',
       'BMW 5-Series 525', 'Ford Figo Zxi Diesel', 'Audi Q3 Petrol',
       'Toyota Fortuner 2.8L 2WD MT DSL', 'Tata Tiago XT LR EV',
       'Honda Civic 1.8S', 'Honda WR-V VX MT IVTEC',
       'Mahindra  Scorpio N', 'Maruti Suzuki Dzire ZDI',
       'Honda City 4th Generation V MT Petrol', 'Honda Civic VX',
       'Maruti Suzuki Ritz Vxi', 'Maruti Suzuki Celerio Automatic',
       'Kia Carens Prestige', 'Chevrolet Beat PS Diesel',
       'Tata Nexon xz+ dual tone', 'Renault Kiger AMT',
       'Kia Carens CARENS D1.5 IMT MDRIVE7', 'Mahindra XUV 500 W6',
       'Volkswagen Taigun TSI', 'Kia Seltos HTX',
       'Ford Ecosport 1.5 TDI Diesel Ambiente', 'Ford Fiesta Diesel',
       'Renault Kwid Rxt', 'Maruti Suzuki Vitara Brezza ZDI',
       'MG Hector Hector PE 1.5 DCT Sharp', 'Maruti Suzuki Swift tour S',
       'Toyota Innova gx-8str', 'Toyota Innova 2.5g',
       'Mercedes-Benz E-Class E350CDI', 'Maruti Suzuki Ertiga Vxi',
       'Mercedes-Benz C-Class C200', 'Ford Ecosport Trend',
       'Hyundai Xcent BASE ABS', 'Maruti Suzuki S-Cross Zeta',
       'Hyundai Elite i20 Asta diesel', 'Honda Jazz IV-Tech',
       'Hyundai Creta Creta sx petrol automatic',
       'Hyundai Venue 1.5 CRDi s plus', 'Maruti Suzuki Wagon R Lx',
       'Renault Kwid RXT optional MT 1.0', 'Toyota Fortuner',
       'Maruti Suzuki Alto K10', 'Hyundai i20', 'Maruti Suzuki Swift ZXI',
       'Maruti Suzuki Alto ALTO 800 OPT',
       'Kia Seltos GTX PLUS DCT 1.4 PETROL',
       'BMW X1 REGISTERED UPTO 2030', 'Honda Jazz V',
       'Maruti Suzuki XL6 Zeta', 'Hyundai Aura 2nd top model',
       'Ford Ecosport Trendline',
       'Maruti Suzuki Ertiga Smart Hybrid ZXI Plus',
       'Mahindra XUV 3XO AX7 PG MT AE',
       'Tata Manza Aura plus Safire BS IV', 'Hyundai i20 Asta',
       'Hyundai Creta Sx1.6', 'Mahindra Xylo D2bs3',
       'Kia Seltos G1.4 7DCT GTX PLUS', 'Mahindra XUV300 W6 amt petrol',
       'Hyundai i10 Kappa 1.2',
       'Kia Seltos HTX IVT 1.5G automatic petrol',
       'Volkswagen Polo Comfortline', 'MG Hector Sharp2.0',
       'Mercedes-Benz CLA 200d urban class', 'Maruti Suzuki S-Cross ZETA',
       'Tata Tigor XZPLUS', 'Citroen C3 Aircross Max DT 1.2Turbo 5S',
       'Jeep Meridian 4x2 MT Limited', 'Kia Carens Prestiege',
       'Maruti Suzuki Swift Dezair vxi', 'Hyundai Creta SX (o)',
       'Tata Nexon XZ PLUS DIESEL', 'Honda Amaze Diesel',
       'Maruti Suzuki S-Cross Zeta 1.3 D MT', 'Maruti Suzuki Swift LXI',
       'Honda Brio Petrol', 'BMW X1 Sdrive 20D Xline', 'Tata Tiago XE',
       'Maruti Suzuki S-Presso Vxi+ AMT', 'Maruti Suzuki Wagon R Cng',
       'Volkswagen Polo Highline', 'Maruti Suzuki 1000 Alto k10',
       'Mahindra XUV300 W4', 'Tata Safari XZA+O AMT',
       'Mahindra Scorpio N ', 'Mahindra  TUV 300 T8 AMT',
       'Maruti Suzuki Baleno Delta AGS', 'Toyota Innova Crysta GX',
       'MG Hector Plus Sharp Diesel Dual Tone 6 Seater',
       'Maruti Suzuki Celerio Vxi Amt', 'Hyundai Creta 1.6 VTVT',
       'Kia Seltos GTX 1.4 AT', 'Jeep Compass Limited 4X4 Diesel',
       'Honda Amaze Ivtc s', 'Maruti Suzuki Eeco CNG',
       'Hyundai Creta Sx(o)', 'Maruti Suzuki Ciaz Alpha',
       'MG ZS EV Exclusive', 'Toyota Innova Hycross Vx 7str hybrid',
       'Ford Aspire 1.5 titanium desal', 'Toyota Etios GD',
       'Maruti Suzuki Ciaz Zxi', 'Tata Harrier XZPLUS', 'Tata Tiago XZ',
       'Maruti Suzuki Eeco CNG TOUR', 'Hyundai i10 Sports',
       'Honda Amaze 1.2L IVTEC S', 'Maruti Suzuki Baleno delta',
       'Maruti Suzuki Wagon R Vxi 1.2', 'Chevrolet Beat PS PETROL',
       'Skoda Fabia ELIGANCE 1.2TDI', 'Kia Sonet HTX', 'Hyundai Xcent E+',
       'Maruti Suzuki Swift VXI', 'Honda City ZXCVT PETROL (I-VTECH)',
       'Hyundai Verna Diesel', 'Mahindra Verito D4',
       'Maruti Suzuki Swift',
       'Mahindra Scorpio DX TURBO 2.6 CRDE 2WD DIESEL',
       'Honda City Vx cvt', 'BMW 3-Series Prestige 320 D',
       'Maruti Suzuki Swift Dezire Tour', 'Hyundai Kona Premium',
       'Renault Triber RXZ', 'Toyota Innova v',
       'Mahindra Bolero neo N-10', 'Maruti Suzuki Swift Vxi',
       'Maruti Suzuki Baleno Delta', 'Renault  Logan', 'Honda City',
       'Mahindra XUV700 AX 7 Petrol AT Luxury Pack 7 Str',
       'Force Motors Commercial Trax Ambulance',
       'Hyundai Creta 1.4 CRDI E+',
       'MG Hector Plus Savvy pro CVT - 1.5T ', 'Toyota Corolla 1.8 V AT',
       'Toyota Glanza E', 'Maruti Suzuki Wagon R Petrol', 'Hyundai  Xing',
       'Tata Harrier Fearless X DARK EDITION', 'Chevrolet Sail 1.4 base',
       'Skoda Kushaq AMBITION', 'Volkswagen Vento Diesel',
       'Nissan Micra Diesel', 'Maruti Suzuki Wagon R VXI Petrol',
       'Hyundai i20 I20 Nline manual',
       'Kia Carens Prestige plus 1.4 turbo',
       'Chevrolet Sail Sedan 1.2 LS', 'Hyundai Venue Sx1.5',
       'Maruti Suzuki Ertiga Cng', 'Tata Nexon EV ZX plus lux Max',
       'MG Hector Plus', 'Honda Amaze Ex 1.2', 'Volkswagen Polo',
       'Maruti Suzuki Alto VXI', 'MG Hector Savvy Pro',
       'Honda BR-V Vx mt diesel', 'Honda Amaze 1.2 SMT',
       'Maruti Suzuki Fronx Deta plus ags', 'Chevrolet Optra 1.6',
       'MG Astor Savvy', 'Maruti Suzuki Ertiga ZXI SMARTHYBRID',
       'Hyundai Creta SX', 'Maruti Suzuki Swift Vdi RS',
       'Mercedes-Benz C-Class 220d Edition C',
       'Maruti Suzuki XL6 Alpha AT', 'Tata Altroz XZA',
       'Hyundai Eon era+', 'Kia Sonet Htk optional',
       'Hyundai Creta Electric 51.4 Excellence LR', 'Toyota Glanza S',
       'Maruti Suzuki Vitara Brezza Zxi+', 'Tata Zest 1.2 XT Revetron',
       'Hyundai Creta Sx at', 'Maruti Suzuki Grand Vitara Sigma',
       'Maruti Suzuki Vitara Brezza Lxi CNG', 'Mahindra XUV300',
       'Kia Seltos Htk plus 1.5 MT', 'Honda Jazz JAZZ 1.2/CVT',
       'Chevrolet Captiva', 'Renault Lodgy', 'Honda Amaze VX-iDTEC',
       'Mercedes-Benz S-Class S350 L BE', 'Hyundai Venue S',
       'Maruti Suzuki Ciaz Sigma manual', 'Maruti Suzuki Dzire Tours',
       'Maruti Suzuki Ciaz Ciaz shiva rs', 'Toyota Cresta 2017',
       'Honda City Ivtec SMT', 'Maruti Suzuki Baleno Blue',
       'Honda BR-V V idtec diesel', 'Maruti Suzuki S-Cross Zeta 1.3',
       'Maruti Suzuki Zen VXI ABS', 'Maruti Suzuki Zen LXi',
       'Mercedes-Benz GLE 350', 'Maruti Suzuki Dzire Vxi',
       'MG Hector Savy Pro', 'MG Astor 1.5 Sharp',
       'Maruti Suzuki Ignis Delta AMT', 'Isuzu D-Max S-Cab HINDI',
       'Maruti Suzuki Baleno Zeta', 'Tata Zest XT Diesel',
       'Honda City V AT SUNROOF I VTECH', 'Honda City SMT',
       'Maruti Suzuki  Super carry', 'BMW 5-Series 530d MSPORT',
       'Maruti Suzuki Celerio Zxi', 'Hyundai Elite i20 Sportz plus',
       'Kia Carens Prestige plus petrol IMT', 'Mahindra Thar 4x4 petrol',
       'Maruti Suzuki Ritz VXI', 'Tata Nexon Xz plus',
       'Kia Seltos HTX Plus', 'Honda City V', 'Tata Zest XM',
       'Mahindra XUV 3XO Mx2 pro AT', 'Bajaj Qute Cng',
       'Skoda Slavia Style 1.0 at', 'Hyundai Venue N Line',
       'Hyundai Getz Gle', 'Maruti Suzuki Vitara Brezza LXI',
       'Chevrolet Aveo 1.4 LT',
       'Mahindra Thar 2.0 AX O convertible Petrol MT4WD',
       'Mahindra XUV 500 w10', 'Maruti Suzuki Dzire VDi',
       'Hyundai Creta 1.4 Diesel CRDi S', 'Ford Aspire Diesel Titanium',
       'Hyundai i20 sportz', 'Hyundai i20 Sportz',
       'Ford Ecosport Trend Diesel',
       'MG Hector HECTOR Gasoline 1.5 TCIC DCT Sharp BSVI',
       'Honda City ZX CVT', 'Maruti Suzuki Dzire VDI',
       'Jeep Compass Limited (O) 4*2', 'Honda Amaze CVT',
       'Toyota Corolla Altis Petrol GL Manual', 'Mahindra TUV300 T8',
       'Jeep Compass 1.4L Limited Petrol Automatic', 'Ford Figo',
       'Hyundai Creta E', 'Mahindra XUV300 XUV300 W6 1.2 petrol',
       'Toyota Innova CrystA',
       'Tata Nexon Tata Nexon XZA+ (LXS Starlight Automatic',
       'Mahindra XUV 500 W8', 'Maruti Suzuki Swift Zdi',
       'Tata Indigo CSeGLX', 'Toyota Fortuner 4x2 AT',
       'Volkswagen Taigun Highline TSI 1.0', 'Maruti Suzuki Ertiga VDI',
       'Honda City sv petrol', 'Maruti Suzuki Estilo LXI',
       'Volkswagen Virtus Base', 'Jeep Compass Petrol Automatic',
       'Force Motors Gurkha', 'Mercedes-Benz C-Class C200 CGI Elegance',
       'Mahindra XUV700 AX7 P MT 7STR', 'Hyundai i10 I10 Magna',
       'Tata Nexon XZ+S', 'Tata Nexon NEXON (D)XZA+(O)DARK',
       'Maruti Suzuki  Breeza ZXI+', 'Hyundai i20 Magna',
       'Hyundai i10 Magna', 'Tata Vista Tech', 'MG Hector Sharp DCT AT',
       'Kia Carens', 'Nissan Magnite XE', 'MG Hector Sharp 2.0 diesel',
       'MG Hector Sharp petrol DCT AT', 'Maruti Suzuki Vitara Brezza AT',
       'Tata Nexon Fearless MT', 'Maruti Suzuki Baleno Sigma 1.2 petrol',
       'Kia Seltos X-Line 1.4 DCT automatic',
       'Ford Classic 1.6 Duratec Titanium', 'Hyundai Creta 1.4 CRDI S',
       'Tata Harrier Xm', 'Hyundai i10 Sportz 1.2 Kappa2',
       'Tata Curvv Pure Plus S 1.2 Revotron Petrol 7DCA',
       'Skoda Kushaq Montecarlo 1.5 DSG', 'Hyundai i10 Nios',
       'Renault Duster RXL', 'Toyota Fortuner sigma 4x4 Automatic',
       'Toyota Corolla corolla altis D4J', 'MG Hector Hybrid',
       'Nissan Sunny XV', 'Maruti Suzuki Ciaz ALPHA PETROL',
       'Hyundai Aura S CNG', 'Ford Ecosport Ecoboost titanium',
       'Hyundai Creta 1.4 CRDI E PLUS', 'Maruti Suzuki Alto Lxi',
       'Tata Hexa', 'Hyundai Creta 1.6 SX+ SE VTVT Dual Tone',
       'Hyundai i10 Grand i10',
       'Maruti Suzuki Grand Vitara sigma Smart hybrid 1.5',
       'Mahindra Thar crde', 'Hyundai Creta SX Executive 1.5L Petrol',
       'Maruti Suzuki Ignis zeta',
       'Volkswagen Vento 2015 Volkswagen Vento 1.5L TDI Diesel DSG Automatic Comfortline Variant',
       'Skoda Kushaq monte carlo', 'Mahindra XUV700 AX3',
       'Maruti Suzuki S-Cross ZETA 1.3',
       'Maruti Suzuki Estilo Green LXI CNG',
       'Mercedes-Benz GLA 35 4Matic', 'Volkswagen Polo TSI',
       'Hyundai Xcent VTVT', 'Mahindra XUV700 AX7',
       'Hyundai i10 I10 Grand Nios', 'MG Hector Sharp',
       'Mahindra Thar LX hardtop MT 4WD', 'Honda BR-V',
       'Honda Amaze 1.2 VX i-vtec', 'BMW X3 X DRIVE 20D Luxury Line',
       'Tata Tiago Xzo', 'Skoda Slavia 1.0 top model petrol',
       'Fiat Punto ACTIVE 1.2', 'Tata Tigor XZO', 'Tata Nexon Pur amt',
       'Maruti Suzuki Baleno Base', 'Hyundai i10 Grand sportz',
       'Hyundai Xcent 1.2 vtvt', 'Maruti Suzuki Wagon R 2009',
       'Tata Tigor XZ+', 'Renault Lodgy World Edition',
       'Maruti Suzuki Swift LDI (O)',
       'Mahindra KUV100 Top end k8 nxt 6 seater', 'Mahindra XUV 500 w11',
       'Maruti Suzuki Eeco 7 seater', 'Tata Safari Pure black s',
       'Honda Amaze Sx', 'Nissan Micra DCI',
       'Hyundai Creta Desiel manuel s optional',
       'Hyundai i10 sports AUTOMATIC', 'Hyundai Venue SX 1.0 TURBO',
       'Mercedes-Benz C-Class C220d', 'Hyundai Verna Fluidic',
       'Kia Syros HTK Plus 1.0 Turbo MT', 'Tata Tiago Tiago automatic',
       'Hyundai Verna 1.6SX Verna CRDi Diesel', 'Honda Mobilio Ivtec',
       'Maruti Suzuki S-Cross Alpha', 'BMW 5-Series 520D Luxuryline',
       'Maruti Suzuki Swift Zxi plus Amt', 'Mitsubishi Pajero',
       'Ford Fiesta 1.6 ZXI', 'Citroen C3 Feel Dual Tone',
       'Hyundai Exter SX Mt 1.2', 'Tata Nexon XZA+ (S)',
       'Tata Nexon Creative + PS DT CNG GREY 2025', 'Hyundai Tucson',
       'Kia Sonet HTX IMT G1.0 AE', 'Tata Altroz Xm plus',
       'Maruti Suzuki Ciaz ZDI SHVS', 'Ford Figo TDCi',
       'Mercedes-Benz GLC 300', 'Toyota Innova Crysta z 7str 2017 manual',
       'Hyundai i20 magna', 'Tata Tigor Tigor XZ+',
       'Tata Nexon Tata nexon pure+pmt', 'Honda WR-V Petrol',
       'Chevrolet Beat Diesel', 'Renault Kwid gearless',
       'Hyundai Aura S 1.2 Petrol CNG',
       'Mahindra XUV300 W8 optional 1.2 L petrol',
       'Toyota Fortuner manual 4by2', 'Hyundai i10 Automatic',
       'Mahindra Bolero BVI BS6', 'Tata Tiago XZ (O)',
       'Maruti Suzuki Vitara Brezza VDi', 'Honda Amaze E ivtec',
       'Maruti Suzuki Alto K10 VKI amt',
       'Maruti Suzuki S-Cross Alpha 1.3',
       'Maruti Suzuki Grand Vitara alpha hybrid', 'Toyota Innova G',
       'Hyundai Venue Turbo DCT SXO', 'Ford Endeavour Titanium 2.2mt',
       'Mercedes-Benz GLA 200', 'Tata Nexon XZA PLUS O',
       'Toyota Innova 2.7V Petrol', 'BMW 3-Series 330 i m sport',
       'Hyundai Venue Sx 1.0 Turbo petrol manual', 'Honda City 1.5SMT',
       'Maruti Suzuki XL6 Alpha', 'Hyundai Aura 1.2 SX',
       'Renault Kwid Climber', 'Mahindra Scorpio N',
       'Skoda Slavia Active', 'Maruti Suzuki Dzire Vxi petrol',
       'Kia Seltos Imt diesel', 'Hyundai Creta Good',
       'Skoda Rapid Style 1.5', 'Kia Seltos HTK',
       'Maruti Suzuki Wagon R Vxi', 'Maruti Suzuki Ertiga 2023',
       'Mahindra Quanto C2', 'Tata Tiago Nrg', 'Ford Figo Titanium plus',
       'Hyundai Verna 1.6 crdi sx optional', 'Mahindra XUV700',
       'Nissan Micra XVCVT', 'Volkswagen Polo Tdi comfortline1.2',
       'Honda WR-V Top end 1.5 diesel', 'Honda Amaze Vx cvt',
       'Ford Aspire 1.2 TI-VCT TIT MT', 'Tata Altroz Xm',
       'Tata Tiago Xt cng', 'Toyota Fortuner LEGENDER 4x2',
       'Hyundai i20 Sports', 'Toyota Innova V top model',
       'Volkswagen Taigun Sport GT Line 1.0 AT',
       'Maruti Suzuki Dzire VXI cng', 'Maruti Suzuki Wagon R Lxi cng',
       'Volkswagen Ameo High line', 'Tata Nexon Creative plus 6 MT',
       'Skoda Slavia', 'BMW iX Xdrive40', 'Skoda Kodiaq 4*4 style',
       'Jeep Compass Model S (O) 2.0', 'Hyundai Creta Sx',
       'MG Hector 1.5 DCT AT Petrol', 'Mahindra Thar LX Diesel 4×4',
       'Maruti Suzuki Dzire Vdi', 'Jeep Compass Petrol',
       'MG Hector Sharp Hybrid 1.5 MT', 'Hyundai  Grand i 10',
       'Hyundai Venue 1.5 CRDI MT S+', 'Maruti Suzuki XL6',
       'Hyundai Santro Petrol', 'Jeep Compass 2.0 disele longitude',
       'Renault Kiger 2023 1.0 RXZ AMT', 'Tata Nexon 1.5 diesel',
       'Tata  Electric', 'Ford Figo zxi', 'Hyundai Venue',
       'Tata Safari accomplished plus dual tone 7str TOP END AT',
       'Tata Altroz Dca xza plus bs6', 'Volkswagen Polo Trendline',
       'Maruti Suzuki Dzire Zxi AMT', 'Renault Duster 1.5 106 PS RXS CVT',
       'Hyundai Venue 1L Turbo AT SX Plus petrol',
       'Hyundai Creta SX (O) AT', 'MG Hector Savy',
       'Mercedes-Benz S-Class 350', 'Toyota Camry Hybrid',
       'Toyota Cresta', 'Skoda Octavia 2016 diesel', 'Honda WR-V Vx MT',
       'Nissan Sunny XL Diesel', 'Kia  HTX Plus Diesel',
       'Nissan Magnite XV dual tone', 'Toyota Glanza VAMT',
       'Hyundai Verna CRDI 1.6 SX', 'Tata Punch Empowered plus',
       'Volkswagen Taigun Comfortline', 'Hyundai Santro Santo xing',
       'Tata Nexon XMA AMT', 'Tata Indica DLS V2', 'Ford Fiesta Sxi1.4',
       'Tata Tigor XT', 'Maruti Suzuki Ertiga', 'Hyundai Santro Xing',
       'Mahindra XUV 500 W6 2WD', 'Toyota Etios Vx', 'Tata Tiago Xt(o)',
       'Kia', 'Honda City Cvt', 'Tata Nexon Xz plus s',
       'Audi A4 2 TDI 177 BHP', 'Hyundai Creta 1.6 Sx plus',
       'MG Astor Sharp 1.5 MT', 'Tata Nexon Pure', 'Ford Ikon 1.3 flair',
       'Maruti Suzuki Ertiga Ertiga Smart Hybrid ZXI AT (Automatic)',
       'Maruti Suzuki Alto 800 VXI', 'Tata Altroz', 'BMW X3 Xdrive 20d',
       'Land Rover Range Rover Evoque Sd4 pure', 'Volkswagen Ameo 1.0',
       'Renault Triber Rxl petrol', 'Honda City VX MT IVTEC',
       'Hyundai i10 Nio sports', 'Maruti Suzuki 800',
       'Hyundai Aura SX MT Petrol', 'Maruti Suzuki SX4 Automatic',
       'Volkswagen Polo GT TSI', 'Mahindra XUV 500 W10',
       'MG Hector Select Pro CVT 1.5 Turbo Petrol',
       'Ford Ecosport Trade + 1.5 petrol', 'Mahindra XUV300 W8 O',
       'Maruti Suzuki Baleno Zeta petrol', 'Maruti Suzuki Alto LXI',
       'Maruti Suzuki Dzire Lxi', 'Mahindra Scorpio S-10',
       'BMW 5-Series 525D', 'Tata Punch Punch pure', 'Kia Seltos',
       'Volkswagen Polo 1.5 high line',
       'Maruti Suzuki Jimny Alpha dual grip automatic',
       'Ford Figo Duratorq Diesel ZXI 1.4', 'Tata Harrier XM',
       'Maruti Suzuki Ciaz Alpha AT', 'Mahindra XUV 500 W10 amt',
       'Mahindra Thar Hardtop 4x4 manual',
       'Maruti Suzuki Wagon R VXI petrol', 'Honda Amaze Vx',
       'Hyundai Creta Diesel automatic sx', 'Hyundai Elite i20 Asta',
       'Honda Amaze RDE SMT (I-VTEC)', 'Tata Altroz I turbo petro',
       'MG Gloster Savvy', 'Hyundai Aura S petrol',
       'Hyundai i10 1.1 bluedrive magna',
       'Skoda Octavia Style plus 1.8 tsi petrol automatic varient',
       'Hyundai i10 Era', 'Volkswagen Polo 1.0l MPI 56KW MT-CL',
       'Maruti Suzuki Vitara Brezza Vxi', 'MG Astor Sharp Ex 1.5M',
       'Volvo XC60 Incription', 'Skoda Kushaq Active 1.0',
       'Maruti Suzuki Wagon R VXI', 'Hyundai  i10 Sports automatic',
       'Hyundai  Grandi10', 'Hyundai Creta 1.6 Sx plus automatic',
       'Tata Punch accomplished', 'Renault Duster RXL Diesel',
       'Mahindra Jeeto', 'Hyundai Exter Sx o amt', 'Honda Accord Bti',
       'Hyundai Venue SX Optional 1.0 DCT Turbo',
       'Hyundai Santro Sportz MT',
       'Maruti Suzuki Swift LXiO 2016 December',
       'Maruti Suzuki Wagon R Gray', 'Kia Sonet Automatic dct',
       'Hyundai  Diesel', 'Tata Tiago Xza plus', 'Kia Sonet HTK PLUS',
       'Toyota Cresta 2.4 gx manual', 'Mahindra XUV300 W8 optional',
       'Skoda Kushaq 2025', 'Skoda Octavia Style plus 2.0',
       'Mahindra Marazzo 2023', 'Mahindra KUV100 K8',
       'Hyundai Elite i20 Credit diesel', 'Chevrolet Sail 1.2LTABS',
       'Hyundai Venue SX1l turbo', 'Mahindra Thar LX P AT 4WD 4S HT',
       'Mahindra Bolero BS6', 'Hyundai Creta SX 1.5 Petrol Manual',
       'Tata Nexon Smart plus', 'Renault Triber RXZ Petrol Easy R1 0L',
       'Maruti Suzuki Vitara Brezza Zxi PLUS AT SMART HYBRID',
       'Tata Nexon XZA Plus (2020-2023)', 'Hyundai  I20 Active',
       'Maruti Suzuki Wagon R VXI BSIII', 'Hyundai Creta SX executive',
       'Skoda Rapid Ambition 1.5 Tdi', 'Kia Sonet HTX DCT',
       'Hyundai Creta 1.4 ex', 'Maruti Suzuki Swift VXi',
       'Renault Lodgy Lodgy rxl', 'Maruti Suzuki Wagon R',
       'Maruti Suzuki Eeco 5', 'Mahindra Scorpio S 10',
       'Maruti Suzuki Dzire Tour s cng', 'Toyota Cresta GX+',
       'Morris  MG ZS EV Exclusive', 'Renault Kwid RXT 1.0',
       'BMW X1 SDRIVE 20D WITH AT', 'Hyundai i10 Grand Asta',
       'MG Astor 2024 super MT', 'Hyundai Exter exter 1.2 sx',
       'Mahindra Bolero Bs3', 'Ford Aspire 1.5 TDCi Titanium',
       'Hyundai i10 Sportz', 'Skoda Kushaq Style 1.5TSI DSG',
       'Toyota Innova Zx 7seater', 'Hyundai Verna 1.6 VTVT SXO',
       'Hyundai Verna VTVT SX', 'Maruti Suzuki Ciaz Vxi plus automatic',
       'Honda Amaze S mt', 'Hyundai Exter Sx', 'Nissan Terrano 85ps',
       'Tata Nexon Creative plus amt', 'Ford Figo 1.4 Titanium Diesel',
       'Hyundai Creta 1.6 AT PETROL',
       'Hyundai i10 Grand i10 nios sports dual tone', 'Kia Sonet Dct',
       'Nissan Magnite XV Turbo',
       'Kia Carens Premium(O) 7seater Petrol/Cng',
       'MG Windsor EV ESSENCE', 'Ford Ecosport 1.5 diesel signature',
       'Ford Ecosport', 'Mahindra XUV 500 Diesel',
       'Jeep Compass 1.4 turbo petrol Automatic',
       'Tata Harrier 2.0 kRYOTEC XZ PLUS DARK EDITION',
       'Maruti Suzuki Baleno Sigma 1.3', 'Maruti Suzuki 800 Du',

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 758 entries, 0 to 799
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   car_name      758 non-null    object
 1   car_year      758 non-null    object
 2   car_price     758 non-null    Int64
 3   Car_city      758 non-null    object
 4   Car_location  758 non-null    object
 5   car_company   758 non-null    object
 6   Car_varient   758 non-null    object
 7   Car_owner     758 non-null    object
dtypes: Int64(1), object(7)
memory usage: 54.0+ KB

In [38]:
df.head()

,car_name,car_year,car_price,Car_city,Car_location,car_company,Car_varient,Car_owner
0,Maruti Suzuki Dzire Zxi,2018,575000,"Electronic City, Bangalore",Karnataka,Maruti,Dzire Zxi,Single Owner
1,Maruti Suzuki Ciaz VDI+ SHVS,2015,475000,Hyderabad,Telangana,Maruti,VDI+ SHVS,Second Owner
2,Honda Brio S mt,2012,165000,Pune,Maharashtra,Honda,S mt,Single Owner
3,Honda City VMT,2016,550000,Noida,Uttar Pradesh,Honda,City VMT,Single Owner
4,Isuzu D-Max S-Cab S cab z,2024,1500000,"Sarbhog, Barpeta",Assam,Isuzu,cab z,Single Owner

# Remove Area Name

In [40]:
parts= df["Car_city"].str.split(",")
print(parts)

0      [Electronic City,  Bangalore]
1                        [Hyderabad]
2                             [Pune]
3                            [Noida]
4                [Sarbhog,  Barpeta]
                   ...
795                      [Sambalpur]
796                     [Karimnagar]
797                        [Ayodhya]
798                        [Kolkata]
799                        [Solapur]
Name: Car_city, Length: 758, dtype: object

In [41]:
import pandas as pd

# assuming your dataframe is called df
# and the location column is called 'location'

df["city"] = (
    df["Car_city"]
    .astype(str)
    .str.extract(r"([^,]+)$", expand=False)  # extract last part
    .str.strip()
)

print(df[["Car_city", "city"]])

                       Car_city        city
0    Electronic City, Bangalore   Bangalore
1                     Hyderabad   Hyderabad
2                          Pune        Pune
3                         Noida       Noida
4              Sarbhog, Barpeta     Barpeta
..                          ...         ...
795                   Sambalpur   Sambalpur
796                  Karimnagar  Karimnagar
797                     Ayodhya     Ayodhya
798                     Kolkata     Kolkata
799                     Solapur     Solapur

[758 rows x 2 columns]

In [42]:
df["Car_city"] = df["city"]
df.drop(columns=["city"], inplace=True)

In [43]:
df

,car_name,car_year,car_price,Car_city,Car_location,car_company,Car_varient,Car_owner
0,Maruti Suzuki Dzire Zxi,2018,575000,Bangalore,Karnataka,Maruti,Dzire Zxi,Single Owner
1,Maruti Suzuki Ciaz VDI+ SHVS,2015,475000,Hyderabad,Telangana,Maruti,VDI+ SHVS,Second Owner
2,Honda Brio S mt,2012,165000,Pune,Maharashtra,Honda,S mt,Single Owner
3,Honda City VMT,2016,550000,Noida,Uttar Pradesh,Honda,City VMT,Single Owner
4,Isuzu D-Max S-Cab S cab z,2024,1500000,Barpeta,Assam,Isuzu,cab z,Single Owner
...,...,...,...,...,...,...,...,...
795,Tata Vista Tech Terra,2011,110000,Sambalpur,Odisha,Tata,Tech Terra,Single Owner
796,Maruti Suzuki Grand Vitara smart hybrid,2024,1050000,Karimnagar,Telangana,Maruti,smart hybrid,Second Owner
797,Tata Altroz Xz+ os cng,2024,850000,Ayodhya,Uttar Pradesh,Tata,os cng,Single Owner
798,Maruti Suzuki Sigma Petrol 1.2 baleno,2018,360000,Kolkata,West Bengal,Maruti,1.2 baleno,Second Owner
799,Renault Triber RXL,2020,500000,Solapur,Maharashtra,Renault,Triber RXL,Single Owner

In [44]:
df.reset_index(drop=True)

,car_name,car_year,car_price,Car_city,Car_location,car_company,Car_varient,Car_owner
0,Maruti Suzuki Dzire Zxi,2018,575000,Bangalore,Karnataka,Maruti,Dzire Zxi,Single Owner
1,Maruti Suzuki Ciaz VDI+ SHVS,2015,475000,Hyderabad,Telangana,Maruti,VDI+ SHVS,Second Owner
2,Honda Brio S mt,2012,165000,Pune,Maharashtra,Honda,S mt,Single Owner
3,Honda City VMT,2016,550000,Noida,Uttar Pradesh,Honda,City VMT,Single Owner
4,Isuzu D-Max S-Cab S cab z,2024,1500000,Barpeta,Assam,Isuzu,cab z,Single Owner
...,...,...,...,...,...,...,...,...
753,Tata Vista Tech Terra,2011,110000,Sambalpur,Odisha,Tata,Tech Terra,Single Owner
754,Maruti Suzuki Grand Vitara smart hybrid,2024,1050000,Karimnagar,Telangana,Maruti,smart hybrid,Second Owner
755,Tata Altroz Xz+ os cng,2024,850000,Ayodhya,Uttar Pradesh,Tata,os cng,Single Owner
756,Maruti Suzuki Sigma Petrol 1.2 baleno,2018,360000,Kolkata,West Bengal,Maruti,1.2 baleno,Second Owner
757,Renault Triber RXL,2020,500000,Solapur,Maharashtra,Renault,Triber RXL,Single Owner

In [45]:
df

,car_name,car_year,car_price,Car_city,Car_location,car_company,Car_varient,Car_owner
0,Maruti Suzuki Dzire Zxi,2018,575000,Bangalore,Karnataka,Maruti,Dzire Zxi,Single Owner
1,Maruti Suzuki Ciaz VDI+ SHVS,2015,475000,Hyderabad,Telangana,Maruti,VDI+ SHVS,Second Owner
2,Honda Brio S mt,2012,165000,Pune,Maharashtra,Honda,S mt,Single Owner
3,Honda City VMT,2016,550000,Noida,Uttar Pradesh,Honda,City VMT,Single Owner
4,Isuzu D-Max S-Cab S cab z,2024,1500000,Barpeta,Assam,Isuzu,cab z,Single Owner
...,...,...,...,...,...,...,...,...
795,Tata Vista Tech Terra,2011,110000,Sambalpur,Odisha,Tata,Tech Terra,Single Owner
796,Maruti Suzuki Grand Vitara smart hybrid,2024,1050000,Karimnagar,Telangana,Maruti,smart hybrid,Second Owner
797,Tata Altroz Xz+ os cng,2024,850000,Ayodhya,Uttar Pradesh,Tata,os cng,Single Owner
798,Maruti Suzuki Sigma Petrol 1.2 baleno,2018,360000,Kolkata,West Bengal,Maruti,1.2 baleno,Second Owner
799,Renault Triber RXL,2020,500000,Solapur,Maharashtra,Renault,Triber RXL,Single Owner

In [46]:
import re

companies = [
    "Maruti Suzuki", "Mercedes-Benz", "Land Rover",
    "Morris MG", "Morris",
    "Hyundai", "Mahindra", "Volkswagen", "Chevrolet",
    "Mitsubishi", "Renault", "Toyota", "Skoda", "Citroen",
    "Isuzu", "Honda", "Kia", "Tata", "Ford", "Jeep",
    "Datsun", "BMW", "Audi", "MG", "Force", "Nissan",
    "Bajaj", "Fiat", "Volvo"
]

pattern = r"^(" + "|".join(map(re.escape, companies)) + r")\b"

df["car_company"] = df["car_name"].str.extract(pattern, flags=re.IGNORECASE, expand=False)
df["Car_varient"] = (
    df["car_name"]
    .str.replace(pattern, "", regex=True, flags=re.IGNORECASE)
    .str.strip()
)

In [47]:
df

,car_name,car_year,car_price,Car_city,Car_location,car_company,Car_varient,Car_owner
0,Maruti Suzuki Dzire Zxi,2018,575000,Bangalore,Karnataka,Maruti Suzuki,Dzire Zxi,Single Owner
1,Maruti Suzuki Ciaz VDI+ SHVS,2015,475000,Hyderabad,Telangana,Maruti Suzuki,Ciaz VDI+ SHVS,Second Owner
2,Honda Brio S mt,2012,165000,Pune,Maharashtra,Honda,Brio S mt,Single Owner
3,Honda City VMT,2016,550000,Noida,Uttar Pradesh,Honda,City VMT,Single Owner
4,Isuzu D-Max S-Cab S cab z,2024,1500000,Barpeta,Assam,Isuzu,D-Max S-Cab S cab z,Single Owner
...,...,...,...,...,...,...,...,...
795,Tata Vista Tech Terra,2011,110000,Sambalpur,Odisha,Tata,Vista Tech Terra,Single Owner
796,Maruti Suzuki Grand Vitara smart hybrid,2024,1050000,Karimnagar,Telangana,Maruti Suzuki,Grand Vitara smart hybrid,Second Owner
797,Tata Altroz Xz+ os cng,2024,850000,Ayodhya,Uttar Pradesh,Tata,Altroz Xz+ os cng,Single Owner
798,Maruti Suzuki Sigma Petrol 1.2 baleno,2018,360000,Kolkata,West Bengal,Maruti Suzuki,Sigma Petrol 1.2 baleno,Second Owner
799,Renault Triber RXL,2020,500000,Solapur,Maharashtra,Renault,Triber RXL,Single Owner

In [48]:
df["Car_varient"].unique()

array(['Dzire Zxi', 'Ciaz VDI+ SHVS', 'Brio S mt', 'City VMT',
       'D-Max S-Cab S cab z', 'Carens g1.5 6MT prestige o 7', 'GLE',
       'Sonet HTX 1.0 TURBO 7DCT', 'Baleno Delta 1.2', 'Kwid Petrol',
       'Hexa XTA', 'Alcazar Signature dct', 'Nexon XZ', 'Creta SX (O)',
       'Seltos X-Line', 'Swift VXI optional AMT',
       'Freestyle Titanium Petrol', 'Verna Petrol',
       'Creta Top Variant (Manual)', 'GLA 200 CDI style',
       'Curvv Curvv pure+TCA DCA', 'Elite i20 1.2 Asta', 'Swift ZXI AMT',
       'Verna 1.4 diesel ex', 'Compass S Petrol AT', 'Jazz Top Model',
       'Redi-GO Hatch back', 'Figo Titanium',
       'Urban Cruiser Hyryder Model V AT Hybrid', '5-Series 525',
       'Figo Zxi Diesel', 'Q3 Petrol', 'Fortuner 2.8L 2WD MT DSL',
       'Tiago XT LR EV', 'Civic 1.8S', 'WR-V VX MT IVTEC', 'Scorpio N',
       'Dzire ZDI', 'City 4th Generation V MT Petrol', 'Civic VX',
       'Ritz Vxi', 'Celerio Automatic', 'Carens Prestige',
       'Beat PS Diesel', 'Nexon xz+ dual tone', 'Kiger AMT',
       'Carens CARENS D1.5 IMT MDRIVE7', 'XUV 500 W6', 'Taigun TSI',
       'Seltos HTX', 'Ecosport 1.5 TDI Diesel Ambiente', 'Fiesta Diesel',
       'Kwid Rxt', 'Vitara Brezza ZDI', 'Hector Hector PE 1.5 DCT Sharp',
       'Swift tour S', 'Innova gx-8str', 'Innova 2.5g', 'E-Class E350CDI',
       'Ertiga Vxi', 'C-Class C200', 'Ecosport Trend', 'Xcent BASE ABS',
       'S-Cross Zeta', 'Elite i20 Asta diesel', 'Jazz IV-Tech',
       'Creta Creta sx petrol automatic', 'Venue 1.5 CRDi s plus',
       'Wagon R Lx', 'Kwid RXT optional MT 1.0', 'Fortuner', 'Alto K10',
       'i20', 'Swift ZXI', 'Alto ALTO 800 OPT',
       'Seltos GTX PLUS DCT 1.4 PETROL', 'X1 REGISTERED UPTO 2030',
       'Jazz V', 'XL6 Zeta', 'Aura 2nd top model', 'Ecosport Trendline',
       'Ertiga Smart Hybrid ZXI Plus', 'XUV 3XO AX7 PG MT AE',
       'Manza Aura plus Safire BS IV', 'i20 Asta', 'Creta Sx1.6',
       'Xylo D2bs3', 'Seltos G1.4 7DCT GTX PLUS', 'XUV300 W6 amt petrol',
       'i10 Kappa 1.2', 'Seltos HTX IVT 1.5G automatic petrol',
       'Polo Comfortline', 'Hector Sharp2.0', 'CLA 200d urban class',
       'S-Cross ZETA', 'Tigor XZPLUS', 'C3 Aircross Max DT 1.2Turbo 5S',
       'Meridian 4x2 MT Limited', 'Carens Prestiege', 'Swift Dezair vxi',
       'Creta SX (o)', 'Nexon XZ PLUS DIESEL', 'Amaze Diesel',
       'S-Cross Zeta 1.3 D MT', 'Swift LXI', 'Brio Petrol',
       'X1 Sdrive 20D Xline', 'Tiago XE', 'S-Presso Vxi+ AMT',
       'Wagon R Cng', 'Polo Highline', '1000 Alto k10', 'XUV300 W4',
       'Safari XZA+O AMT', 'TUV 300 T8 AMT', 'Baleno Delta AGS',
       'Innova Crysta GX', 'Hector Plus Sharp Diesel Dual Tone 6 Seater',
       'Celerio Vxi Amt', 'Creta 1.6 VTVT', 'Seltos GTX 1.4 AT',
       'Compass Limited 4X4 Diesel', 'Amaze Ivtc s', 'Eeco CNG',
       'Creta Sx(o)', 'Ciaz Alpha', 'ZS EV Exclusive',
       'Innova Hycross Vx 7str hybrid', 'Aspire 1.5 titanium desal',
       'Etios GD', 'Ciaz Zxi', 'Harrier XZPLUS', 'Tiago XZ',
       'Eeco CNG TOUR', 'i10 Sports', 'Amaze 1.2L IVTEC S',
       'Baleno delta', 'Wagon R Vxi 1.2', 'Beat PS PETROL',
       'Fabia ELIGANCE 1.2TDI', 'Sonet HTX', 'Xcent E+', 'Swift VXI',
       'City ZXCVT PETROL (I-VTECH)', 'Verna Diesel', 'Verito D4',
       'Swift', 'Scorpio DX TURBO 2.6 CRDE 2WD DIESEL', 'City Vx cvt',
       '3-Series Prestige 320 D', 'Swift Dezire Tour', 'Kona Premium',
       'Triber RXZ', 'Innova v', 'Bolero neo N-10', 'Swift Vxi',
       'Baleno Delta', 'Logan', 'City',
       'XUV700 AX 7 Petrol AT Luxury Pack 7 Str',
       'Motors Commercial Trax Ambulance', 'Creta 1.4 CRDI E+',
       'Hector Plus Savvy pro CVT - 1.5T', 'Corolla 1.8 V AT', 'Glanza E',
       'Wagon R Petrol', 'Xing', 'Harrier Fearless X DARK EDITION',
       'Sail 1.4 base', 'Kushaq AMBITION', 'Vento Diesel', 'Micra Diesel',
       'Wagon R VXI Petrol', 'i20 I20 Nline manual',
       'Carens Prestige plus 1.4 turbo', 'Sail Sedan 1.2 LS',
       'Venue Sx1.5', 'Ertiga Cng', 'Nexon EV ZX plus lux Max',
       'Hector Plus', 'Amaze Ex 1.2', 'Polo', 'Alto VXI',
       'Hector Savvy Pro', 'BR-V Vx mt diesel', 'Amaze 1.2 SMT',
       'Fronx Deta plus ags', 'Optra 1.6', 'Astor Savvy',
       'Ertiga ZXI SMARTHYBRID', 'Creta SX', 'Swift Vdi RS',
       'C-Class 220d Edition C', 'XL6 Alpha AT', 'Altroz XZA', 'Eon era+',
       'Sonet Htk optional', 'Creta Electric 51.4 Excellence LR',
       'Glanza S', 'Vitara Brezza Zxi+', 'Zest 1.2 XT Revetron',
       'Creta Sx at', 'Grand Vitara Sigma', 'Vitara Brezza Lxi CNG',
       'XUV300', 'Seltos Htk plus 1.5 MT', 'Jazz JAZZ 1.2/CVT', 'Captiva',
       'Lodgy', 'Amaze VX-iDTEC', 'S-Class S350 L BE', 'Venue S',
       'Ciaz Sigma manual', 'Dzire Tours', 'Ciaz Ciaz shiva rs',
       'Cresta 2017', 'City Ivtec SMT', 'Baleno Blue',
       'BR-V V idtec diesel', 'S-Cross Zeta 1.3', 'Zen VXI ABS',
       'Zen LXi', 'GLE 350', 'Dzire Vxi', 'Hector Savy Pro',
       'Astor 1.5 Sharp', 'Ignis Delta AMT', 'D-Max S-Cab HINDI',
       'Baleno Zeta', 'Zest XT Diesel', 'City V AT SUNROOF I VTECH',
       'City SMT', 'Super carry', '5-Series 530d MSPORT', 'Celerio Zxi',
       'Elite i20 Sportz plus', 'Carens Prestige plus petrol IMT',
       'Thar 4x4 petrol', 'Ritz VXI', 'Nexon Xz plus', 'Seltos HTX Plus',
       'City V', 'Zest XM', 'XUV 3XO Mx2 pro AT', 'Qute Cng',
       'Slavia Style 1.0 at', 'Venue N Line', 'Getz Gle',
       'Vitara Brezza LXI', 'Aveo 1.4 LT',
       'Thar 2.0 AX O convertible Petrol MT4WD', 'XUV 500 w10',
       'Dzire VDi', 'Creta 1.4 Diesel CRDi S', 'Aspire Diesel Titanium',
       'i20 sportz', 'i20 Sportz', 'Ecosport Trend Diesel',
       'Hector HECTOR Gasoline 1.5 TCIC DCT Sharp BSVI', 'City ZX CVT',
       'Dzire VDI', 'Compass Limited (O) 4*2', 'Amaze CVT',
       'Corolla Altis Petrol GL Manual', 'TUV300 T8',
       'Compass 1.4L Limited Petrol Automatic', 'Figo', 'Creta E',
       'XUV300 XUV300 W6 1.2 petrol', 'Innova CrystA',
       'Nexon Tata Nexon XZA+ (LXS Starlight Automatic', 'XUV 500 W8',
       'Swift Zdi', 'Indigo CSeGLX', 'Fortuner 4x2 AT',
       'Taigun Highline TSI 1.0', 'Ertiga VDI', 'City sv petrol',
       'Estilo LXI', 'Virtus Base', 'Compass Petrol Automatic',
       'Motors Gurkha', 'C-Class C200 CGI Elegance',
       'XUV700 AX7 P MT 7STR', 'i10 I10 Magna', 'Nexon XZ+S',
       'Nexon NEXON (D)XZA+(O)DARK', 'Breeza ZXI+', 'i20 Magna',
       'i10 Magna', 'Vista Tech', 'Hector Sharp DCT AT', 'Carens',
       'Magnite XE', 'Hector Sharp 2.0 diesel',
       'Hector Sharp petrol DCT AT', 'Vitara Brezza AT',
       'Nexon Fearless MT', 'Baleno Sigma 1.2 petrol',
       'Seltos X-Line 1.4 DCT automatic', 'Classic 1.6 Duratec Titanium',
       'Creta 1.4 CRDI S', 'Harrier Xm', 'i10 Sportz 1.2 Kappa2',
       'Curvv Pure Plus S 1.2 Revotron Petrol 7DCA',
       'Kushaq Montecarlo 1.5 DSG', 'i10 Nios', 'Duster RXL',
       'Fortuner sigma 4x4 Automatic', 'Corolla corolla altis D4J',
       'Hector Hybrid', 'Sunny XV', 'Ciaz ALPHA PETROL', 'Aura S CNG',
       'Ecosport Ecoboost titanium', 'Creta 1.4 CRDI E PLUS', 'Alto Lxi',
       'Hexa', 'Creta 1.6 SX+ SE VTVT Dual Tone', 'i10 Grand i10',
       'Grand Vitara sigma Smart hybrid 1.5', 'Thar crde',
       'Creta SX Executive 1.5L Petrol', 'Ignis zeta',
       'Vento 2015 Volkswagen Vento 1.5L TDI Diesel DSG Automatic Comfortline Variant',
       'Kushaq monte carlo', 'XUV700 AX3', 'S-Cross ZETA 1.3',
       'Estilo Green LXI CNG', 'GLA 35 4Matic', 'Polo TSI', 'Xcent VTVT',
       'XUV700 AX7', 'i10 I10 Grand Nios', 'Hector Sharp',
       'Thar LX hardtop MT 4WD', 'BR-V', 'Amaze 1.2 VX i-vtec',
       'X3 X DRIVE 20D Luxury Line', 'Tiago Xzo',
       'Slavia 1.0 top model petrol', 'Punto ACTIVE 1.2', 'Tigor XZO',
       'Nexon Pur amt', 'Baleno Base', 'i10 Grand sportz',
       'Xcent 1.2 vtvt', 'Wagon R 2009', 'Tigor XZ+',
       'Lodgy World Edition', 'Swift LDI (O)',
       'KUV100 Top end k8 nxt 6 seater', 'XUV 500 w11', 'Eeco 7 seater',
       'Safari Pure black s', 'Amaze Sx', 'Micra DCI',
       'Creta Desiel manuel s optional', 'i10 sports AUTOMATIC',
       'Venue SX 1.0 TURBO', 'C-Class C220d', 'Verna Fluidic',
       'Syros HTK Plus 1.0 Turbo MT', 'Tiago Tiago automatic',
       'Verna 1.6SX Verna CRDi Diesel', 'Mobilio Ivtec', 'S-Cross Alpha',
       '5-Series 520D Luxuryline', 'Swift Zxi plus Amt', 'Pajero',
       'Fiesta 1.6 ZXI', 'C3 Feel Dual Tone', 'Exter SX Mt 1.2',
       'Nexon XZA+ (S)', 'Nexon Creative + PS DT CNG GREY 2025', 'Tucson',
       'Sonet HTX IMT G1.0 AE', 'Altroz Xm plus', 'Ciaz ZDI SHVS',
       'Figo TDCi', 'GLC 300', 'Innova Crysta z 7str 2017 manual',
       'i20 magna', 'Tigor Tigor XZ+', 'Nexon Tata nexon pure+pmt',
       'WR-V Petrol', 'Beat Diesel', 'Kwid gearless',
       'Aura S 1.2 Petrol CNG', 'XUV300 W8 optional 1.2 L petrol',
       'Fortuner manual 4by2', 'i10 Automatic', 'Bolero BVI BS6',
       'Tiago XZ (O)', 'Vitara Brezza VDi', 'Amaze E ivtec',
       'Alto K10 VKI amt', 'S-Cross Alpha 1.3',
       'Grand Vitara alpha hybrid', 'Innova G', 'Venue Turbo DCT SXO',
       'Endeavour Titanium 2.2mt', 'GLA 200', 'Nexon XZA PLUS O',
       'Innova 2.7V Petrol', '3-Series 330 i m sport',
       'Venue Sx 1.0 Turbo petrol manual', 'City 1.5SMT', 'XL6 Alpha',
       'Aura 1.2 SX', 'Kwid Climber', 'Slavia Active', 'Dzire Vxi petrol',
       'Seltos Imt diesel', 'Creta Good', 'Rapid Style 1.5', 'Seltos HTK',
       'Wagon R Vxi', 'Ertiga 2023', 'Quanto C2', 'Tiago Nrg',
       'Figo Titanium plus', 'Verna 1.6 crdi sx optional', 'XUV700',
       'Micra XVCVT', 'Polo Tdi comfortline1.2',
       'WR-V Top end 1.5 diesel', 'Amaze Vx cvt',
       'Aspire 1.2 TI-VCT TIT MT', 'Altroz Xm', 'Tiago Xt cng',
       'Fortuner LEGENDER 4x2', 'i20 Sports', 'Innova V top model',
       'Taigun Sport GT Line 1.0 AT', 'Dzire VXI cng', 'Wagon R Lxi cng',
       'Ameo High line', 'Nexon Creative plus 6 MT', 'Slavia',
       'iX Xdrive40', 'Kodiaq 4*4 style', 'Compass Model S (O) 2.0',
       'Creta Sx', 'Hector 1.5 DCT AT Petrol', 'Thar LX Diesel 4×4',
       'Dzire Vdi', 'Compass Petrol', 'Hector Sharp Hybrid 1.5 MT',
       'Grand i 10', 'Venue 1.5 CRDI MT S+', 'XL6', 'Santro Petrol',
       'Compass 2.0 disele longitude', 'Kiger 2023 1.0 RXZ AMT',
       'Nexon 1.5 diesel', 'Electric', 'Figo zxi', 'Venue',
       'Safari accomplished plus dual tone 7str TOP END AT',
       'Altroz Dca xza plus bs6', 'Polo Trendline', 'Dzire Zxi AMT',
       'Duster 1.5 106 PS RXS CVT', 'Venue 1L Turbo AT SX Plus petrol',
       'Creta SX (O) AT', 'Hector Savy', 'S-Class 350', 'Camry Hybrid',
       'Cresta', 'Octavia 2016 diesel', 'WR-V Vx MT', 'Sunny XL Diesel',
       'HTX Plus Diesel', 'Magnite XV dual tone', 'Glanza VAMT',
       'Verna CRDI 1.6 SX', 'Punch Empowered plus', 'Taigun Comfortline',
       'Santro Santo xing', 'Nexon XMA AMT', 'Indica DLS V2',
       'Fiesta Sxi1.4', 'Tigor XT', 'Ertiga', 'Santro Xing',
       'XUV 500 W6 2WD', 'Etios Vx', 'Tiago Xt(o)', '', 'City Cvt',
       'Nexon Xz plus s', 'A4 2 TDI 177 BHP', 'Creta 1.6 Sx plus',
       'Astor Sharp 1.5 MT', 'Nexon Pure', 'Ikon 1.3 flair',
       'Ertiga Ertiga Smart Hybrid ZXI AT (Automatic)', 'Alto 800 VXI',
       'Altroz', 'X3 Xdrive 20d', 'Range Rover Evoque Sd4 pure',
       'Ameo 1.0', 'Triber Rxl petrol', 'City VX MT IVTEC',
       'i10 Nio sports', '800', 'Aura SX MT Petrol', 'SX4 Automatic',
       'Polo GT TSI', 'XUV 500 W10',
       'Hector Select Pro CVT 1.5 Turbo Petrol',
       'Ecosport Trade + 1.5 petrol', 'XUV300 W8 O', 'Baleno Zeta petrol',
       'Alto LXI', 'Dzire Lxi', 'Scorpio S-10', '5-Series 525D',
       'Punch Punch pure', 'Seltos', 'Polo 1.5 high line',
       'Jimny Alpha dual grip automatic', 'Figo Duratorq Diesel ZXI 1.4',
       'Harrier XM', 'Ciaz Alpha AT', 'XUV 500 W10 amt',
       'Thar Hardtop 4x4 manual', 'Wagon R VXI petrol', 'Amaze Vx',
       'Creta Diesel automatic sx', 'Elite i20 Asta',
       'Amaze RDE SMT (I-VTEC)', 'Altroz I turbo petro', 'Gloster Savvy',
       'Aura S petrol', 'i10 1.1 bluedrive magna',
       'Octavia Style plus 1.8 tsi petrol automatic varient', 'i10 Era',
       'Polo 1.0l MPI 56KW MT-CL', 'Vitara Brezza Vxi',
       'Astor Sharp Ex 1.5M', 'XC60 Incription', 'Kushaq Active 1.0',
       'Wagon R VXI', 'i10 Sports automatic', 'Grandi10',
       'Creta 1.6 Sx plus automatic', 'Punch accomplished',
       'Duster RXL Diesel', 'Jeeto', 'Exter Sx o amt', 'Accord Bti',
       'Venue SX Optional 1.0 DCT Turbo', 'Santro Sportz MT',
       'Swift LXiO 2016 December', 'Wagon R Gray', 'Sonet Automatic dct',
       'Diesel', 'Tiago Xza plus', 'Sonet HTK PLUS',
       'Cresta 2.4 gx manual', 'XUV300 W8 optional', 'Kushaq 2025',
       'Octavia Style plus 2.0', 'Marazzo 2023', 'KUV100 K8',
       'Elite i20 Credit diesel', 'Sail 1.2LTABS', 'Venue SX1l turbo',
       'Thar LX P AT 4WD 4S HT', 'Bolero BS6',
       'Creta SX 1.5 Petrol Manual', 'Nexon Smart plus',
       'Triber RXZ Petrol Easy R1 0L',
       'Vitara Brezza Zxi PLUS AT SMART HYBRID',
       'Nexon XZA Plus (2020-2023)', 'I20 Active', 'Wagon R VXI BSIII',
       'Creta SX executive', 'Rapid Ambition 1.5 Tdi', 'Sonet HTX DCT',
       'Creta 1.4 ex', 'Swift VXi', 'Lodgy Lodgy rxl', 'Wagon R',
       'Eeco 5', 'Scorpio S 10', 'Dzire Tour s cng', 'Cresta GX+',
       'MG ZS EV Exclusive', 'Kwid RXT 1.0', 'X1 SDRIVE 20D WITH AT',
       'i10 Grand Asta', 'Astor 2024 super MT', 'Exter exter 1.2 sx',
       'Bolero Bs3', 'Aspire 1.5 TDCi Titanium', 'i10 Sportz',
       'Kushaq Style 1.5TSI DSG', 'Innova Zx 7seater',
       'Verna 1.6 VTVT SXO', 'Verna VTVT SX', 'Ciaz Vxi plus automatic',
       'Amaze S mt', 'Exter Sx', 'Terrano 85ps',
       'Nexon Creative plus amt', 'Figo 1.4 Titanium Diesel',
       'Creta 1.6 AT PETROL', 'i10 Grand i10 nios sports dual tone',
       'Sonet Dct', 'Magnite XV Turbo',
       'Carens Premium(O) 7seater Petrol/Cng', 'Windsor EV ESSENCE',
       'Ecosport 1.5 diesel signature', 'Ecosport', 'XUV 500 Diesel',
       'Compass 1.4 turbo petrol Automatic',
       'Harrier 2.0 kRYOTEC XZ PLUS DARK EDITION', 'Baleno Sigma 1.3',
       '800 Du', 'Santro', 'Maxximo', 'XUV 3XO AX5 Manual Petrol',
       'i10 Asta', 'Eon 2017', 'Etios Liva V Diesel', 'Alto 800 LXI',
       'Swift VDI', 'Nexon Xma', 'Safari XZA+', 'Q3 Diesel 2.0 manual',
       'Elantra Sx At', 'Compass Sports', 'E-Class 220d',
       'Eon D LITE PLUS(O)', 'Indigo', 'Amaze 2018',
       'ZS EV Exclusive pro', 'Creta Sx tech ivt automatic', 'Indigo Ecs',
       'Magnite Manual', 'Creta Sx 1.6 Diesel', 'Tigor XM CMG', 'Baleno',
       'Tiago Tata tiago XZ', 'Xylo D2', 'Fronx Zeta', 'Bolero Neo N10 O',
       'Carens Prestige Plus Diesel', 'Ritz Vdi', 'Amaze ivtec S',
       'Punto 1.4 emotion', 'Indica Qurdrajet', '800 ALTO 800',
       'XUV700 Ax5 p 7 seater mt', 'i20 I20 SPORT MT KIPPA',
       'Taigun Topline', 'Compass LONGITUDE 2.0D',
       'Nexon XZA + petrol Automatic', 'Elite i20 Asta opt',
       'Wagon R 2013 Maruti Suzuki Wagon R 1.0 VXI',
       'Nexon Xza kaziranga', 'Baleno ZETA', 'Brio S MT',
       'Kwid Climber AMT 2020 (O) Top Model', 'XUV700 AX5 7 str',
       'Venue VENUE 1.0 TURBO DCT SX(O)', 'i10 Grand i10 2019 magna',
       'Tiago Xza+', 'Harrier XT', 'C3',
       'Superb Sportline Sport line 2.0 AT', 'Dzire VXI AUTOMATIC',
       'i20 Asta Optiona', 'Magnite XV Executive Turbo',
       'Astor Sharp 1.5 CVT', 'Duster RXZ DCI', 'Indica Vista Ls TDI',
       'Verna SX 1.5 MPI MT', 'C-Class', 'Taigun',
       'Dzire Vxi Petrol Manual', 'i20 Sports ABS', 'Urban Cross Disal',
       'Nexon EV XZ Plus Lux', 'Ciaz Hybrid', 'Vista Tech Terra',
       'Grand Vitara smart hybrid', 'Altroz Xz+ os cng',
       'Sigma Petrol 1.2 baleno', 'Triber RXL'], dtype=object)

In [49]:
df["car_company"].unique()

array(['Maruti Suzuki', 'Honda', 'Isuzu', 'Kia', 'Mercedes-Benz',
       'Renault', 'Tata', 'Hyundai', 'Ford', 'Jeep', 'Datsun', 'Toyota',
       'BMW', 'Audi', 'Mahindra', 'Chevrolet', 'Volkswagen', 'MG',
       'Citroen', 'Skoda', 'Force', 'Nissan', 'Bajaj', 'Fiat',
       'Mitsubishi', 'Land Rover', 'Volvo', 'Morris'], dtype=object)

In [50]:
cols = df.columns.tolist()
cols.insert(1, cols.pop(cols.index('car_company')))
df = df[cols]

In [51]:
df

,car_name,car_company,car_year,car_price,Car_city,Car_location,Car_varient,Car_owner
0,Maruti Suzuki Dzire Zxi,Maruti Suzuki,2018,575000,Bangalore,Karnataka,Dzire Zxi,Single Owner
1,Maruti Suzuki Ciaz VDI+ SHVS,Maruti Suzuki,2015,475000,Hyderabad,Telangana,Ciaz VDI+ SHVS,Second Owner
2,Honda Brio S mt,Honda,2012,165000,Pune,Maharashtra,Brio S mt,Single Owner
3,Honda City VMT,Honda,2016,550000,Noida,Uttar Pradesh,City VMT,Single Owner
4,Isuzu D-Max S-Cab S cab z,Isuzu,2024,1500000,Barpeta,Assam,D-Max S-Cab S cab z,Single Owner
...,...,...,...,...,...,...,...,...
795,Tata Vista Tech Terra,Tata,2011,110000,Sambalpur,Odisha,Vista Tech Terra,Single Owner
796,Maruti Suzuki Grand Vitara smart hybrid,Maruti Suzuki,2024,1050000,Karimnagar,Telangana,Grand Vitara smart hybrid,Second Owner
797,Tata Altroz Xz+ os cng,Tata,2024,850000,Ayodhya,Uttar Pradesh,Altroz Xz+ os cng,Single Owner
798,Maruti Suzuki Sigma Petrol 1.2 baleno,Maruti Suzuki,2018,360000,Kolkata,West Bengal,Sigma Petrol 1.2 baleno,Second Owner
799,Renault Triber RXL,Renault,2020,500000,Solapur,Maharashtra,Triber RXL,Single Owner

# Extracting the fule_type column

In [53]:
def extract_fuel(name):
    name = name.lower()
    if 'diesel' in name:
        return 'diesel'
    elif 'petrol' in name:
        return 'petrol'
    else:
        return np.nan

df['fuel_type'] = df['car_name'].apply(extract_fuel)

In [54]:
df["fuel_type"].unique()

array([nan, 'petrol', 'diesel'], dtype=object)

In [55]:
df["fuel_type"].isnull().sum()

np.int64(658)

In [56]:
df['fuel_type'] = df['fuel_type'].fillna('Not specified')

In [57]:
df

,car_name,car_company,car_year,car_price,Car_city,Car_location,Car_varient,Car_owner,fuel_type
0,Maruti Suzuki Dzire Zxi,Maruti Suzuki,2018,575000,Bangalore,Karnataka,Dzire Zxi,Single Owner,Not specified
1,Maruti Suzuki Ciaz VDI+ SHVS,Maruti Suzuki,2015,475000,Hyderabad,Telangana,Ciaz VDI+ SHVS,Second Owner,Not specified
2,Honda Brio S mt,Honda,2012,165000,Pune,Maharashtra,Brio S mt,Single Owner,Not specified
3,Honda City VMT,Honda,2016,550000,Noida,Uttar Pradesh,City VMT,Single Owner,Not specified
4,Isuzu D-Max S-Cab S cab z,Isuzu,2024,1500000,Barpeta,Assam,D-Max S-Cab S cab z,Single Owner,Not specified
...,...,...,...,...,...,...,...,...,...
795,Tata Vista Tech Terra,Tata,2011,110000,Sambalpur,Odisha,Vista Tech Terra,Single Owner,Not specified
796,Maruti Suzuki Grand Vitara smart hybrid,Maruti Suzuki,2024,1050000,Karimnagar,Telangana,Grand Vitara smart hybrid,Second Owner,Not specified
797,Tata Altroz Xz+ os cng,Tata,2024,850000,Ayodhya,Uttar Pradesh,Altroz Xz+ os cng,Single Owner,Not specified
798,Maruti Suzuki Sigma Petrol 1.2 baleno,Maruti Suzuki,2018,360000,Kolkata,West Bengal,Sigma Petrol 1.2 baleno,Second Owner,petrol
799,Renault Triber RXL,Renault,2020,500000,Solapur,Maharashtra,Triber RXL,Single Owner,Not specified

In [59]:
df.columns = df.columns.str.capitalize()

In [60]:
df

,Car_name,Car_company,Car_year,Car_price,Car_city,Car_location,Car_varient,Car_owner,Fuel_type
0,Maruti Suzuki Dzire Zxi,Maruti Suzuki,2018,575000,Bangalore,Karnataka,Dzire Zxi,Single Owner,Not specified
1,Maruti Suzuki Ciaz VDI+ SHVS,Maruti Suzuki,2015,475000,Hyderabad,Telangana,Ciaz VDI+ SHVS,Second Owner,Not specified
2,Honda Brio S mt,Honda,2012,165000,Pune,Maharashtra,Brio S mt,Single Owner,Not specified
3,Honda City VMT,Honda,2016,550000,Noida,Uttar Pradesh,City VMT,Single Owner,Not specified
4,Isuzu D-Max S-Cab S cab z,Isuzu,2024,1500000,Barpeta,Assam,D-Max S-Cab S cab z,Single Owner,Not specified
...,...,...,...,...,...,...,...,...,...
795,Tata Vista Tech Terra,Tata,2011,110000,Sambalpur,Odisha,Vista Tech Terra,Single Owner,Not specified
796,Maruti Suzuki Grand Vitara smart hybrid,Maruti Suzuki,2024,1050000,Karimnagar,Telangana,Grand Vitara smart hybrid,Second Owner,Not specified
797,Tata Altroz Xz+ os cng,Tata,2024,850000,Ayodhya,Uttar Pradesh,Altroz Xz+ os cng,Single Owner,Not specified
798,Maruti Suzuki Sigma Petrol 1.2 baleno,Maruti Suzuki,2018,360000,Kolkata,West Bengal,Sigma Petrol 1.2 baleno,Second Owner,petrol
799,Renault Triber RXL,Renault,2020,500000,Solapur,Maharashtra,Triber RXL,Single Owner,Not specified

In [61]:
df["Car_varient"].unique()

array(['Dzire Zxi', 'Ciaz VDI+ SHVS', 'Brio S mt', 'City VMT',
       'D-Max S-Cab S cab z', 'Carens g1.5 6MT prestige o 7', 'GLE',
       'Sonet HTX 1.0 TURBO 7DCT', 'Baleno Delta 1.2', 'Kwid Petrol',
       'Hexa XTA', 'Alcazar Signature dct', 'Nexon XZ', 'Creta SX (O)',
       'Seltos X-Line', 'Swift VXI optional AMT',
       'Freestyle Titanium Petrol', 'Verna Petrol',
       'Creta Top Variant (Manual)', 'GLA 200 CDI style',
       'Curvv Curvv pure+TCA DCA', 'Elite i20 1.2 Asta', 'Swift ZXI AMT',
       'Verna 1.4 diesel ex', 'Compass S Petrol AT', 'Jazz Top Model',
       'Redi-GO Hatch back', 'Figo Titanium',
       'Urban Cruiser Hyryder Model V AT Hybrid', '5-Series 525',
       'Figo Zxi Diesel', 'Q3 Petrol', 'Fortuner 2.8L 2WD MT DSL',
       'Tiago XT LR EV', 'Civic 1.8S', 'WR-V VX MT IVTEC', 'Scorpio N',
       'Dzire ZDI', 'City 4th Generation V MT Petrol', 'Civic VX',
       'Ritz Vxi', 'Celerio Automatic', 'Carens Prestige',
       'Beat PS Diesel', 'Nexon xz+ dual tone', 'Kiger AMT',
       'Carens CARENS D1.5 IMT MDRIVE7', 'XUV 500 W6', 'Taigun TSI',
       'Seltos HTX', 'Ecosport 1.5 TDI Diesel Ambiente', 'Fiesta Diesel',
       'Kwid Rxt', 'Vitara Brezza ZDI', 'Hector Hector PE 1.5 DCT Sharp',
       'Swift tour S', 'Innova gx-8str', 'Innova 2.5g', 'E-Class E350CDI',
       'Ertiga Vxi', 'C-Class C200', 'Ecosport Trend', 'Xcent BASE ABS',
       'S-Cross Zeta', 'Elite i20 Asta diesel', 'Jazz IV-Tech',
       'Creta Creta sx petrol automatic', 'Venue 1.5 CRDi s plus',
       'Wagon R Lx', 'Kwid RXT optional MT 1.0', 'Fortuner', 'Alto K10',
       'i20', 'Swift ZXI', 'Alto ALTO 800 OPT',
       'Seltos GTX PLUS DCT 1.4 PETROL', 'X1 REGISTERED UPTO 2030',
       'Jazz V', 'XL6 Zeta', 'Aura 2nd top model', 'Ecosport Trendline',
       'Ertiga Smart Hybrid ZXI Plus', 'XUV 3XO AX7 PG MT AE',
       'Manza Aura plus Safire BS IV', 'i20 Asta', 'Creta Sx1.6',
       'Xylo D2bs3', 'Seltos G1.4 7DCT GTX PLUS', 'XUV300 W6 amt petrol',
       'i10 Kappa 1.2', 'Seltos HTX IVT 1.5G automatic petrol',
       'Polo Comfortline', 'Hector Sharp2.0', 'CLA 200d urban class',
       'S-Cross ZETA', 'Tigor XZPLUS', 'C3 Aircross Max DT 1.2Turbo 5S',
       'Meridian 4x2 MT Limited', 'Carens Prestiege', 'Swift Dezair vxi',
       'Creta SX (o)', 'Nexon XZ PLUS DIESEL', 'Amaze Diesel',
       'S-Cross Zeta 1.3 D MT', 'Swift LXI', 'Brio Petrol',
       'X1 Sdrive 20D Xline', 'Tiago XE', 'S-Presso Vxi+ AMT',
       'Wagon R Cng', 'Polo Highline', '1000 Alto k10', 'XUV300 W4',
       'Safari XZA+O AMT', 'TUV 300 T8 AMT', 'Baleno Delta AGS',
       'Innova Crysta GX', 'Hector Plus Sharp Diesel Dual Tone 6 Seater',
       'Celerio Vxi Amt', 'Creta 1.6 VTVT', 'Seltos GTX 1.4 AT',
       'Compass Limited 4X4 Diesel', 'Amaze Ivtc s', 'Eeco CNG',
       'Creta Sx(o)', 'Ciaz Alpha', 'ZS EV Exclusive',
       'Innova Hycross Vx 7str hybrid', 'Aspire 1.5 titanium desal',
       'Etios GD', 'Ciaz Zxi', 'Harrier XZPLUS', 'Tiago XZ',
       'Eeco CNG TOUR', 'i10 Sports', 'Amaze 1.2L IVTEC S',
       'Baleno delta', 'Wagon R Vxi 1.2', 'Beat PS PETROL',
       'Fabia ELIGANCE 1.2TDI', 'Sonet HTX', 'Xcent E+', 'Swift VXI',
       'City ZXCVT PETROL (I-VTECH)', 'Verna Diesel', 'Verito D4',
       'Swift', 'Scorpio DX TURBO 2.6 CRDE 2WD DIESEL', 'City Vx cvt',
       '3-Series Prestige 320 D', 'Swift Dezire Tour', 'Kona Premium',
       'Triber RXZ', 'Innova v', 'Bolero neo N-10', 'Swift Vxi',
       'Baleno Delta', 'Logan', 'City',
       'XUV700 AX 7 Petrol AT Luxury Pack 7 Str',
       'Motors Commercial Trax Ambulance', 'Creta 1.4 CRDI E+',
       'Hector Plus Savvy pro CVT - 1.5T', 'Corolla 1.8 V AT', 'Glanza E',
       'Wagon R Petrol', 'Xing', 'Harrier Fearless X DARK EDITION',
       'Sail 1.4 base', 'Kushaq AMBITION', 'Vento Diesel', 'Micra Diesel',
       'Wagon R VXI Petrol', 'i20 I20 Nline manual',
       'Carens Prestige plus 1.4 turbo', 'Sail Sedan 1.2 LS',
       'Venue Sx1.5', 'Ertiga Cng', 'Nexon EV ZX plus lux Max',
       'Hector Plus', 'Amaze Ex 1.2', 'Polo', 'Alto VXI',
       'Hector Savvy Pro', 'BR-V Vx mt diesel', 'Amaze 1.2 SMT',
       'Fronx Deta plus ags', 'Optra 1.6', 'Astor Savvy',
       'Ertiga ZXI SMARTHYBRID', 'Creta SX', 'Swift Vdi RS',
       'C-Class 220d Edition C', 'XL6 Alpha AT', 'Altroz XZA', 'Eon era+',
       'Sonet Htk optional', 'Creta Electric 51.4 Excellence LR',
       'Glanza S', 'Vitara Brezza Zxi+', 'Zest 1.2 XT Revetron',
       'Creta Sx at', 'Grand Vitara Sigma', 'Vitara Brezza Lxi CNG',
       'XUV300', 'Seltos Htk plus 1.5 MT', 'Jazz JAZZ 1.2/CVT', 'Captiva',
       'Lodgy', 'Amaze VX-iDTEC', 'S-Class S350 L BE', 'Venue S',
       'Ciaz Sigma manual', 'Dzire Tours', 'Ciaz Ciaz shiva rs',
       'Cresta 2017', 'City Ivtec SMT', 'Baleno Blue',
       'BR-V V idtec diesel', 'S-Cross Zeta 1.3', 'Zen VXI ABS',
       'Zen LXi', 'GLE 350', 'Dzire Vxi', 'Hector Savy Pro',
       'Astor 1.5 Sharp', 'Ignis Delta AMT', 'D-Max S-Cab HINDI',
       'Baleno Zeta', 'Zest XT Diesel', 'City V AT SUNROOF I VTECH',
       'City SMT', 'Super carry', '5-Series 530d MSPORT', 'Celerio Zxi',
       'Elite i20 Sportz plus', 'Carens Prestige plus petrol IMT',
       'Thar 4x4 petrol', 'Ritz VXI', 'Nexon Xz plus', 'Seltos HTX Plus',
       'City V', 'Zest XM', 'XUV 3XO Mx2 pro AT', 'Qute Cng',
       'Slavia Style 1.0 at', 'Venue N Line', 'Getz Gle',
       'Vitara Brezza LXI', 'Aveo 1.4 LT',
       'Thar 2.0 AX O convertible Petrol MT4WD', 'XUV 500 w10',
       'Dzire VDi', 'Creta 1.4 Diesel CRDi S', 'Aspire Diesel Titanium',
       'i20 sportz', 'i20 Sportz', 'Ecosport Trend Diesel',
       'Hector HECTOR Gasoline 1.5 TCIC DCT Sharp BSVI', 'City ZX CVT',
       'Dzire VDI', 'Compass Limited (O) 4*2', 'Amaze CVT',
       'Corolla Altis Petrol GL Manual', 'TUV300 T8',
       'Compass 1.4L Limited Petrol Automatic', 'Figo', 'Creta E',
       'XUV300 XUV300 W6 1.2 petrol', 'Innova CrystA',
       'Nexon Tata Nexon XZA+ (LXS Starlight Automatic', 'XUV 500 W8',
       'Swift Zdi', 'Indigo CSeGLX', 'Fortuner 4x2 AT',
       'Taigun Highline TSI 1.0', 'Ertiga VDI', 'City sv petrol',
       'Estilo LXI', 'Virtus Base', 'Compass Petrol Automatic',
       'Motors Gurkha', 'C-Class C200 CGI Elegance',
       'XUV700 AX7 P MT 7STR', 'i10 I10 Magna', 'Nexon XZ+S',
       'Nexon NEXON (D)XZA+(O)DARK', 'Breeza ZXI+', 'i20 Magna',
       'i10 Magna', 'Vista Tech', 'Hector Sharp DCT AT', 'Carens',
       'Magnite XE', 'Hector Sharp 2.0 diesel',
       'Hector Sharp petrol DCT AT', 'Vitara Brezza AT',
       'Nexon Fearless MT', 'Baleno Sigma 1.2 petrol',
       'Seltos X-Line 1.4 DCT automatic', 'Classic 1.6 Duratec Titanium',
       'Creta 1.4 CRDI S', 'Harrier Xm', 'i10 Sportz 1.2 Kappa2',
       'Curvv Pure Plus S 1.2 Revotron Petrol 7DCA',
       'Kushaq Montecarlo 1.5 DSG', 'i10 Nios', 'Duster RXL',
       'Fortuner sigma 4x4 Automatic', 'Corolla corolla altis D4J',
       'Hector Hybrid', 'Sunny XV', 'Ciaz ALPHA PETROL', 'Aura S CNG',
       'Ecosport Ecoboost titanium', 'Creta 1.4 CRDI E PLUS', 'Alto Lxi',
       'Hexa', 'Creta 1.6 SX+ SE VTVT Dual Tone', 'i10 Grand i10',
       'Grand Vitara sigma Smart hybrid 1.5', 'Thar crde',
       'Creta SX Executive 1.5L Petrol', 'Ignis zeta',
       'Vento 2015 Volkswagen Vento 1.5L TDI Diesel DSG Automatic Comfortline Variant',
       'Kushaq monte carlo', 'XUV700 AX3', 'S-Cross ZETA 1.3',
       'Estilo Green LXI CNG', 'GLA 35 4Matic', 'Polo TSI', 'Xcent VTVT',
       'XUV700 AX7', 'i10 I10 Grand Nios', 'Hector Sharp',
       'Thar LX hardtop MT 4WD', 'BR-V', 'Amaze 1.2 VX i-vtec',
       'X3 X DRIVE 20D Luxury Line', 'Tiago Xzo',
       'Slavia 1.0 top model petrol', 'Punto ACTIVE 1.2', 'Tigor XZO',
       'Nexon Pur amt', 'Baleno Base', 'i10 Grand sportz',
       'Xcent 1.2 vtvt', 'Wagon R 2009', 'Tigor XZ+',
       'Lodgy World Edition', 'Swift LDI (O)',
       'KUV100 Top end k8 nxt 6 seater', 'XUV 500 w11', 'Eeco 7 seater',
       'Safari Pure black s', 'Amaze Sx', 'Micra DCI',
       'Creta Desiel manuel s optional', 'i10 sports AUTOMATIC',
       'Venue SX 1.0 TURBO', 'C-Class C220d', 'Verna Fluidic',
       'Syros HTK Plus 1.0 Turbo MT', 'Tiago Tiago automatic',
       'Verna 1.6SX Verna CRDi Diesel', 'Mobilio Ivtec', 'S-Cross Alpha',
       '5-Series 520D Luxuryline', 'Swift Zxi plus Amt', 'Pajero',
       'Fiesta 1.6 ZXI', 'C3 Feel Dual Tone', 'Exter SX Mt 1.2',
       'Nexon XZA+ (S)', 'Nexon Creative + PS DT CNG GREY 2025', 'Tucson',
       'Sonet HTX IMT G1.0 AE', 'Altroz Xm plus', 'Ciaz ZDI SHVS',
       'Figo TDCi', 'GLC 300', 'Innova Crysta z 7str 2017 manual',
       'i20 magna', 'Tigor Tigor XZ+', 'Nexon Tata nexon pure+pmt',
       'WR-V Petrol', 'Beat Diesel', 'Kwid gearless',
       'Aura S 1.2 Petrol CNG', 'XUV300 W8 optional 1.2 L petrol',
       'Fortuner manual 4by2', 'i10 Automatic', 'Bolero BVI BS6',
       'Tiago XZ (O)', 'Vitara Brezza VDi', 'Amaze E ivtec',
       'Alto K10 VKI amt', 'S-Cross Alpha 1.3',
       'Grand Vitara alpha hybrid', 'Innova G', 'Venue Turbo DCT SXO',
       'Endeavour Titanium 2.2mt', 'GLA 200', 'Nexon XZA PLUS O',
       'Innova 2.7V Petrol', '3-Series 330 i m sport',
       'Venue Sx 1.0 Turbo petrol manual', 'City 1.5SMT', 'XL6 Alpha',
       'Aura 1.2 SX', 'Kwid Climber', 'Slavia Active', 'Dzire Vxi petrol',
       'Seltos Imt diesel', 'Creta Good', 'Rapid Style 1.5', 'Seltos HTK',
       'Wagon R Vxi', 'Ertiga 2023', 'Quanto C2', 'Tiago Nrg',
       'Figo Titanium plus', 'Verna 1.6 crdi sx optional', 'XUV700',
       'Micra XVCVT', 'Polo Tdi comfortline1.2',
       'WR-V Top end 1.5 diesel', 'Amaze Vx cvt',
       'Aspire 1.2 TI-VCT TIT MT', 'Altroz Xm', 'Tiago Xt cng',
       'Fortuner LEGENDER 4x2', 'i20 Sports', 'Innova V top model',
       'Taigun Sport GT Line 1.0 AT', 'Dzire VXI cng', 'Wagon R Lxi cng',
       'Ameo High line', 'Nexon Creative plus 6 MT', 'Slavia',
       'iX Xdrive40', 'Kodiaq 4*4 style', 'Compass Model S (O) 2.0',
       'Creta Sx', 'Hector 1.5 DCT AT Petrol', 'Thar LX Diesel 4×4',
       'Dzire Vdi', 'Compass Petrol', 'Hector Sharp Hybrid 1.5 MT',
       'Grand i 10', 'Venue 1.5 CRDI MT S+', 'XL6', 'Santro Petrol',
       'Compass 2.0 disele longitude', 'Kiger 2023 1.0 RXZ AMT',
       'Nexon 1.5 diesel', 'Electric', 'Figo zxi', 'Venue',
       'Safari accomplished plus dual tone 7str TOP END AT',
       'Altroz Dca xza plus bs6', 'Polo Trendline', 'Dzire Zxi AMT',
       'Duster 1.5 106 PS RXS CVT', 'Venue 1L Turbo AT SX Plus petrol',
       'Creta SX (O) AT', 'Hector Savy', 'S-Class 350', 'Camry Hybrid',
       'Cresta', 'Octavia 2016 diesel', 'WR-V Vx MT', 'Sunny XL Diesel',
       'HTX Plus Diesel', 'Magnite XV dual tone', 'Glanza VAMT',
       'Verna CRDI 1.6 SX', 'Punch Empowered plus', 'Taigun Comfortline',
       'Santro Santo xing', 'Nexon XMA AMT', 'Indica DLS V2',
       'Fiesta Sxi1.4', 'Tigor XT', 'Ertiga', 'Santro Xing',
       'XUV 500 W6 2WD', 'Etios Vx', 'Tiago Xt(o)', '', 'City Cvt',
       'Nexon Xz plus s', 'A4 2 TDI 177 BHP', 'Creta 1.6 Sx plus',
       'Astor Sharp 1.5 MT', 'Nexon Pure', 'Ikon 1.3 flair',
       'Ertiga Ertiga Smart Hybrid ZXI AT (Automatic)', 'Alto 800 VXI',
       'Altroz', 'X3 Xdrive 20d', 'Range Rover Evoque Sd4 pure',
       'Ameo 1.0', 'Triber Rxl petrol', 'City VX MT IVTEC',
       'i10 Nio sports', '800', 'Aura SX MT Petrol', 'SX4 Automatic',
       'Polo GT TSI', 'XUV 500 W10',
       'Hector Select Pro CVT 1.5 Turbo Petrol',
       'Ecosport Trade + 1.5 petrol', 'XUV300 W8 O', 'Baleno Zeta petrol',
       'Alto LXI', 'Dzire Lxi', 'Scorpio S-10', '5-Series 525D',
       'Punch Punch pure', 'Seltos', 'Polo 1.5 high line',
       'Jimny Alpha dual grip automatic', 'Figo Duratorq Diesel ZXI 1.4',
       'Harrier XM', 'Ciaz Alpha AT', 'XUV 500 W10 amt',
       'Thar Hardtop 4x4 manual', 'Wagon R VXI petrol', 'Amaze Vx',
       'Creta Diesel automatic sx', 'Elite i20 Asta',
       'Amaze RDE SMT (I-VTEC)', 'Altroz I turbo petro', 'Gloster Savvy',
       'Aura S petrol', 'i10 1.1 bluedrive magna',
       'Octavia Style plus 1.8 tsi petrol automatic varient', 'i10 Era',
       'Polo 1.0l MPI 56KW MT-CL', 'Vitara Brezza Vxi',
       'Astor Sharp Ex 1.5M', 'XC60 Incription', 'Kushaq Active 1.0',
       'Wagon R VXI', 'i10 Sports automatic', 'Grandi10',
       'Creta 1.6 Sx plus automatic', 'Punch accomplished',
       'Duster RXL Diesel', 'Jeeto', 'Exter Sx o amt', 'Accord Bti',
       'Venue SX Optional 1.0 DCT Turbo', 'Santro Sportz MT',
       'Swift LXiO 2016 December', 'Wagon R Gray', 'Sonet Automatic dct',
       'Diesel', 'Tiago Xza plus', 'Sonet HTK PLUS',
       'Cresta 2.4 gx manual', 'XUV300 W8 optional', 'Kushaq 2025',
       'Octavia Style plus 2.0', 'Marazzo 2023', 'KUV100 K8',
       'Elite i20 Credit diesel', 'Sail 1.2LTABS', 'Venue SX1l turbo',
       'Thar LX P AT 4WD 4S HT', 'Bolero BS6',
       'Creta SX 1.5 Petrol Manual', 'Nexon Smart plus',
       'Triber RXZ Petrol Easy R1 0L',
       'Vitara Brezza Zxi PLUS AT SMART HYBRID',
       'Nexon XZA Plus (2020-2023)', 'I20 Active', 'Wagon R VXI BSIII',
       'Creta SX executive', 'Rapid Ambition 1.5 Tdi', 'Sonet HTX DCT',
       'Creta 1.4 ex', 'Swift VXi', 'Lodgy Lodgy rxl', 'Wagon R',
       'Eeco 5', 'Scorpio S 10', 'Dzire Tour s cng', 'Cresta GX+',
       'MG ZS EV Exclusive', 'Kwid RXT 1.0', 'X1 SDRIVE 20D WITH AT',
       'i10 Grand Asta', 'Astor 2024 super MT', 'Exter exter 1.2 sx',
       'Bolero Bs3', 'Aspire 1.5 TDCi Titanium', 'i10 Sportz',
       'Kushaq Style 1.5TSI DSG', 'Innova Zx 7seater',
       'Verna 1.6 VTVT SXO', 'Verna VTVT SX', 'Ciaz Vxi plus automatic',
       'Amaze S mt', 'Exter Sx', 'Terrano 85ps',
       'Nexon Creative plus amt', 'Figo 1.4 Titanium Diesel',
       'Creta 1.6 AT PETROL', 'i10 Grand i10 nios sports dual tone',
       'Sonet Dct', 'Magnite XV Turbo',
       'Carens Premium(O) 7seater Petrol/Cng', 'Windsor EV ESSENCE',
       'Ecosport 1.5 diesel signature', 'Ecosport', 'XUV 500 Diesel',
       'Compass 1.4 turbo petrol Automatic',
       'Harrier 2.0 kRYOTEC XZ PLUS DARK EDITION', 'Baleno Sigma 1.3',
       '800 Du', 'Santro', 'Maxximo', 'XUV 3XO AX5 Manual Petrol',
       'i10 Asta', 'Eon 2017', 'Etios Liva V Diesel', 'Alto 800 LXI',
       'Swift VDI', 'Nexon Xma', 'Safari XZA+', 'Q3 Diesel 2.0 manual',
       'Elantra Sx At', 'Compass Sports', 'E-Class 220d',
       'Eon D LITE PLUS(O)', 'Indigo', 'Amaze 2018',
       'ZS EV Exclusive pro', 'Creta Sx tech ivt automatic', 'Indigo Ecs',
       'Magnite Manual', 'Creta Sx 1.6 Diesel', 'Tigor XM CMG', 'Baleno',
       'Tiago Tata tiago XZ', 'Xylo D2', 'Fronx Zeta', 'Bolero Neo N10 O',
       'Carens Prestige Plus Diesel', 'Ritz Vdi', 'Amaze ivtec S',
       'Punto 1.4 emotion', 'Indica Qurdrajet', '800 ALTO 800',
       'XUV700 Ax5 p 7 seater mt', 'i20 I20 SPORT MT KIPPA',
       'Taigun Topline', 'Compass LONGITUDE 2.0D',
       'Nexon XZA + petrol Automatic', 'Elite i20 Asta opt',
       'Wagon R 2013 Maruti Suzuki Wagon R 1.0 VXI',
       'Nexon Xza kaziranga', 'Baleno ZETA', 'Brio S MT',
       'Kwid Climber AMT 2020 (O) Top Model', 'XUV700 AX5 7 str',
       'Venue VENUE 1.0 TURBO DCT SX(O)', 'i10 Grand i10 2019 magna',
       'Tiago Xza+', 'Harrier XT', 'C3',
       'Superb Sportline Sport line 2.0 AT', 'Dzire VXI AUTOMATIC',
       'i20 Asta Optiona', 'Magnite XV Executive Turbo',
       'Astor Sharp 1.5 CVT', 'Duster RXZ DCI', 'Indica Vista Ls TDI',
       'Verna SX 1.5 MPI MT', 'C-Class', 'Taigun',
       'Dzire Vxi Petrol Manual', 'i20 Sports ABS', 'Urban Cross Disal',
       'Nexon EV XZ Plus Lux', 'Ciaz Hybrid', 'Vista Tech Terra',
       'Grand Vitara smart hybrid', 'Altroz Xz+ os cng',
       'Sigma Petrol 1.2 baleno', 'Triber RXL'], dtype=object)

In [64]:
df

,Car_name,Car_company,Car_year,Car_price,Car_city,Car_location,Car_owner,Fuel_type
0,Maruti Suzuki Dzire Zxi,Maruti Suzuki,2018,575000,Bangalore,Karnataka,Single Owner,Not specified
1,Maruti Suzuki Ciaz VDI+ SHVS,Maruti Suzuki,2015,475000,Hyderabad,Telangana,Second Owner,Not specified
2,Honda Brio S mt,Honda,2012,165000,Pune,Maharashtra,Single Owner,Not specified
3,Honda City VMT,Honda,2016,550000,Noida,Uttar Pradesh,Single Owner,Not specified
4,Isuzu D-Max S-Cab S cab z,Isuzu,2024,1500000,Barpeta,Assam,Single Owner,Not specified
...,...,...,...,...,...,...,...,...
795,Tata Vista Tech Terra,Tata,2011,110000,Sambalpur,Odisha,Single Owner,Not specified
796,Maruti Suzuki Grand Vitara smart hybrid,Maruti Suzuki,2024,1050000,Karimnagar,Telangana,Second Owner,Not specified
797,Tata Altroz Xz+ os cng,Tata,2024,850000,Ayodhya,Uttar Pradesh,Single Owner,Not specified
798,Maruti Suzuki Sigma Petrol 1.2 baleno,Maruti Suzuki,2018,360000,Kolkata,West Bengal,Second Owner,petrol
799,Renault Triber RXL,Renault,2020,500000,Solapur,Maharashtra,Single Owner,Not specified

In [62]:
df = df.drop(columns=['Car_varient'])

In [63]:
df["Fuel_type"].value_counts()

Fuel_type
Not specified    658
petrol            57
diesel            43
Name: count, dtype: int64

In [65]:
df.to_csv("Carz4 Webscraping.csv",index = False)